.single-place{position:absolute;bottom:0;left:0;}
.jdTop618-4-233131 .mt{}
    .jdTop618-4-233131 .mc{font-family: "微软雅黑", "宋体";}
    .jdTop618-4-233131 .mb{display:none;}
    .jdTop618-4-233131 .mc ul{width:1000px;}
    .jdTop618-4-233131 li{float:left; width:222px;padding: 10px;overflow:hidden; display:inline; position:relative;background: #fff;margin-bottom: 3px;margin-right: 8px;}
    .jdTop618-4-233131 .jItem{padding-top:0;background:#ffffff;}
    .jdTop618-4-233131 .jTop{height:223px; background:#ffffff;margin-top:0;border-bottom:solid 1px #ff3000;}
    .jdTop618-4-233131 .jPic{text-align:center; background-color:#fff; _height:100%;}
    .jdTop618-4-233131 .jPic img{vertical-align:top;}
    .jdTop618-4-233131 .jPic a{padding:0 0; display:block;}
    .jdTop618-4-233131 .jPrice{margin-top:0px ;height:30px;font-weight: bold;text-align: center;font-family: "impact", "微软雅黑", "宋体";font-size:26px;color:#ff3000;line-height:1.2;background-color:#ffffff;}
    .jdTop618-4-233131 .jDesc{height:32px; font-size:13px; overflow:hidden;padding:0px 5px;line-height:1.2;margin-top:3px;color: #888;}
    .jdTop618-4-233131 .jBtnArea{background:#ff3000;height:25px;width: 135px;border-radius: 5px;color: #fff;margin: 0 auto;
      text-align: center;font-size: 15px;line-height: 1.2;margin-top: 5px;padding-top: 5px;}
    .jdTop618-4-233131 .jPromotionLabel{width: 76px;height: 76px;border: solid 2px #c70305;border-radius: 38px;position: absolute;top: 10px;left: 10px;}
    .jdTop618-4-233131 .jPromotionTextArea{width: 68px;height: 45px;background: #c70305;color: #fff;text-align: center;font-size: 20px;border-radius: 35px;margin-top: 3px;font-weight: bold;padding-top: 25px;padding-left: 2px;margin-left:3px;-moz-transition:all .5s ease-in;
      -webkit-transition:all .3s ease-in;
      -o-transition:all .3s ease-in;
      -ms-transition:all .3s ease-in;
      transition:all .3s ease-in;}
    .jdTop618-4-233131 .jItem:hover .jPromotionTextArea{
      width: 74px;height: 51px;
      background: #c70305;margin: 0;padding: 0;
    background: -moz-linear-gradient(center, #fd0407 0%, #c70305 100%);
    background: -webkit-gradient(linear, 50% 50%,0,50% 50%,100, color-stop(0%,#fd0407), color-stop(100%,#c70305));
    background: -webkit-linear-gradient(center,  #fd0407 0%,#c70305 100%);
    background: -o-linear-gradient(center,  #fd0407 0%,#c70305 100%);
    background: -ms-linear-gradient(center,  #fd0407 0%,#c70305 100%);
    background: linear-gradient(to right,  #fd0407 0%,#c70305 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70305', endColorstr='#c70305',GradientType=1 );-moz-transition:all .5s ease-in;
      -webkit-transition:all .3s ease-in;
      -o-transition:all .3s ease-in;
      -ms-transition:all .3s ease-in;
      transition:all .3s ease-in;
    }
.jdTop618-4-233125 .mt{}
    .jdTop618-4-233125 .mc{font-family: "微软雅黑", "宋体";}
    .jdTop618-4-233125 .mb{display:none;}
    .jdTop618-4-233125 .mc ul{width:1000px;}
    .jdTop618-4-233125 li{float:left; width:222px;padding: 10px;overflow:hidden; display:inline; position:relative;background: #fff;margin-bottom: 3px;margin-right: 8px;}
    .jdTop618-4-233125 .jItem{padding-top:0;background:#ffffff;}
    .jdTop618-4-233125 .jTop{height:223px; background:#ffffff;margin-top:0;border-bottom:solid 1px #ff3000;}
    .jdTop618-4-233125 .jPic{text-align:center; background-color:#fff; _height:100%;}
    .jdTop618-4-233125 .jPic img{vertical-align:top;}
    .jdTop618-4-233125 .jPic a{padding:0 0; display:block;}
    .jdTop618-4-233125 .jPrice{margin-top:0px ;height:30px;font-weight: bold;text-align: center;font-family: "impact", "微软雅黑", "宋体";font-size:26px;color:#ff3000;line-height:1.2;background-color:#ffffff;}
    .jdTop618-4-233125 .jDesc{height:32px; font-size:13px; overflow:hidden;padding:0px 5px;line-height:1.2;margin-top:3px;color: #888;}
    .jdTop618-4-233125 .jBtnArea{background:#ff3000;height:25px;width: 135px;border-radius: 5px;color: #fff;margin: 0 auto;
      text-align: center;font-size: 15px;line-height: 1.2;margin-top: 5px;padding-top: 5px;}
    .jdTop618-4-233125 .jPromotionLabel{width: 76px;height: 76px;border: solid 2px #c70305;border-radius: 38px;position: absolute;top: 10px;left: 10px;}
    .jdTop618-4-233125 .jPromotionTextArea{width: 68px;height: 45px;background: #c70305;color: #fff;text-align: center;font-size: 20px;border-radius: 35px;margin-top: 3px;font-weight: bold;padding-top: 25px;padding-left: 2px;margin-left:3px;-moz-transition:all .5s ease-in;
      -webkit-transition:all .3s ease-in;
      -o-transition:all .3s ease-in;
      -ms-transition:all .3s ease-in;
      transition:all .3s ease-in;}
    .jdTop618-4-233125 .jItem:hover .jPromotionTextArea{
      width: 74px;height: 51px;
      background: #c70305;margin: 0;padding: 0;
    background: -moz-linear-gradient(center, #fd0407 0%, #c70305 100%);
    background: -webkit-gradient(linear, 50% 50%,0,50% 50%,100, color-stop(0%,#fd0407), color-stop(100%,#c70305));
    background: -webkit-linear-gradient(center,  #fd0407 0%,#c70305 100%);
    background: -o-linear-gradient(center,  #fd0407 0%,#c70305 100%);
    background: -ms-linear-gradient(center,  #fd0407 0%,#c70305 100%);
    background: linear-gradient(to right,  #fd0407 0%,#c70305 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70305', endColorstr='#c70305',GradientType=1 );-moz-transition:all .5s ease-in;
      -webkit-transition:all .3s ease-in;
      -o-transition:all .3s ease-in;
      -ms-transition:all .3s ease-in;
      transition:all .3s ease-in;
    }
.userdefined-153704 .j-module{zoom:1; overflow:hidden;}
.container h4{background:#fff;height:20px;padding-right:0px;}
.container .shrink{width:20px;height:20px;background:url("//img14.360buyimg.com/cms/g14/M00/04/1C/rBEhVlHdGEUIAAAAAAAGCRctXCUAAA9BAP_9KUAAAYh058.png");float:right;margin-right:5px;}
.container .shrink{background-position: -24px 0;}
.container .extend{background-position:0 0;}
.container .tips{background-position:0 -24px;width:88px;}


.wrapper-dingtong{ width:100%; height:70px; position:relative; background:url(//img11.360buyimg.com/opr/jfs/t9679/16/245999291/7780/dda87b9b/59ca03e6N523ae68b.png) no-repeat center 0; z-index:5; }            .wrapper-dingtong-content{ width:990px; height:70px; left:50%; margin-left:-495px; position:relative; }            .wrapper-dingtong-logo{ width:150px; height:70px; /*background:url(//img13.360buyimg.com/opr/jfs/t8143/33/2326505366/1570/671afed2/59ca0cd1N8e813384.png) no-repeat 0 0;*/ position:absolute; left:-21px; top:0; z-index:10; }            .wrapper-dingtong-gonglue{ width:92px; height:70px; position:absolute; right:0; top:0; z-index:12; }            .wrapper-dingtong-rili{ position:absolute; display:block; width:92px; height:70px; left:50%; margin-left:309px; z-index:11; }            .wrapper-dingtong-rili .rili{ display:none; position:absolute; left:-723px; top:0; width:991px; height:604px; }            .wrapper-dingtong-rili:hover .rili{ display:block; }            .wrapper-dingtong-opera{ position:absolute; bottom:-43px; right:0; width:130px; height:30px; overflow:hidden; }            .wrapper-dingtong-opera a{ display:block; width:100%; height:28px; line-height:28px;font-size:14px; border:1px solid transparent;border-radius:15px;background-color:rgba(0, 0, 0, .5); color:#fff; text-align:center; }            .wrapper-dingtong-guanzhu{ width:73px; float:right; margin-right:7px; }            .wrapper-dingtong-rule{ width:48px; float:right; }            .wrapper-dingtong-guanzhu .gzed{ display:none; }
.body-not-home .wrapper-dingtong{background:url(//img11.360buyimg.com/cms/jfs/t11971/264/1463223896/20841/ee1cd35f/5a03fe48N1370f390.jpg) no-repeat center 0;}            .body-not-home .wrapper-dingtong-rili .rili{background:url(//img13.360buyimg.com/cms/jfs/t10702/354/1924704387/74458/6610868c/59e99cccN6fa47b40.png) no-repeat 0 0;}
