<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<script type="text/javascript" src="${ctx}/views/front/default/custom/shopFestival_files/redirect.js.下载"></script>
<title>购物节</title>
<% include("/include/head.html"){}%>
<link type="text/css" rel="stylesheet" href="${ctx}/views/front/default/custom/shopFestival_files/saved_resource">
<link rel="stylesheet" type="text/css" href="${ctx}/views/front/default/custom/shopFestival_files/saved_resource(1)">
<link rel="stylesheet" type="text/css" href="${ctx}/views/front/default/custom/shopFestival_files/index.css">
<link rel="stylesheet" type="text/css" href="${ctx}/views/front/default/custom/shopFestival_files/shopFestival.css">
<style type="text/css">


</style>
<body>
<% include("/include/header.html"){}%>
<!--顶通分会场-->
<div class="layoutcontainer" isfixed="0" style="margin:0 auto;width:px; background:#ac27e4 ">
	<div class="body-not-home">
		<div class="wrapper-dingtong">
			<div class="wrapper-dingtong-content">
				<a class="wrapper-dingtong-logo" clstag="pageclick|keycount|PCMainShopping_618Main_201705043|1" href="https://sale.jd.com/act/qQpZESJl1xLYwCUm.html" target="_blank"></a> <a class="wrapper-dingtong-gonglue" clstag="pageclick|keycount|PCMainShopping_618Main_201705043|2" href="https://sale.jd.com/act/WXSQJnPDCsld.html" target="_blank"></a> 
				<div class="wrapper-dingtong-rili">
					<div class="rili">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="d-layout-area   ">
		<div class="d-layout d-layout-auto" id="29591946" style="width:100%;">
			<div class="d-layout-one  ">
				<div class="  userdefined-153704 " moduleclass="userdefined-153704" instanceid="29591947" style="margin-bottom: 10px;" module-name="UserDefine" module-cn-name="自定义内容区" template-name="20130930自适应居中" modeid="9" module-resource-entrance="UserDefine" modehelp="//h5.jd.com/article/153.html" data-has-point="true">
					<div class="mc" style=" min-height:0px;">
						<div class="j-module" module-function="autoCenter" module-param="{}">
							<div class="userDefinedArea" style="width: 1920px; margin-left: -200.5px;">
								<img class="" src="${ctx}/views/front/default/custom/shopFestival_files/5a017b3fN403a4f85.jpg"/>
								<img class="" src="${ctx}/views/front/default/custom/shopFestival_files/5a017b4eN265c460d.jpg"/>
								<img class="" src="${ctx}/views/front/default/custom/shopFestival_files/5a017b54N5b353a02.jpg"/>
								<img class="" src="${ctx}/views/front/default/custom/shopFestival_files/5a017b5aNb35e41b2.jpg"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 热销爆款开始 -->
	<div class="d-layout-area ">
		<div class="d-layout" id="29591950">
			<div class="d-layout-one d-w990 ">
				<div class="  userdefined-153704 " moduleclass="userdefined-153704" instanceid="29591951" style="margin-bottom: 10px;" module-name="UserDefine" module-cn-name="自定义内容区" template-name="20130930自适应居中" modeid="9" module-resource-entrance="UserDefine" modehelp="//h5.jd.com/article/153.html" data-has-point="true">
					<div class="mc" style=" min-height:0px;">
						<div class="j-module" module-function="autoCenter" module-param="{}">
							<div class="userDefinedArea" style="width: auto; margin: 0px auto;">
								<img class="" src="${ctx}/views/front/default/custom/shopFestival_files/5900701aNe0ec1dda.png" width="989" height="100" alt="">
							</div>
						</div>
					</div>
				</div>
				
				<div class="  jdTop618-4-233125 " moduleclass="jdTop618-4-233125" instanceid="29591952" style="margin-bottom: 10px;" module-name="GoodsRec" module-cn-name="商品推荐" template-name="砍价" modeid="8" module-resource-entrance="GoodsRec" modehelp="//h5.jd.com/article/212.html" data-has-point="true">
					<div class="mc" style=" min-height:0px;">
						<ul>
						<% var gcjxProductList=site.recommend({number:'shopFestival'});%>
						<% for(p in gcjxProductList.siteRecommendItemList!){
							var product=product.one({pid:p.pId!});%>
							<li clstag="pageclick|keycount|GoodsRec_29591952_1|0">
								<div class="jItem">
									<div class="jTop">
										<div class="jPic">
											<a target="_blank" href="${isNotEmpty(p.url!)?p.url!:'javascript:;'}">
												<img class="" src="${ctxfs}${p.path!}@190x190" onerror="fdp.defaultImage('${ctxStatic}/images/default_goods.png');" height="190" width="190"/>
											</a>
										</div>
										<div id="djd4154873" class="jPrice">
											<% if((product.type!)=='1'){%>
												¥${product.minPrice1!}
											<%}%>
											<% if((product.type!)=='2'){%>
												¥${product.minPrice2!}
											<%}%>
											<% if((product.type!)=='3'){%>
												¥${product.minPrice1!}
											<%}%>
											&nbsp;
										</div>
									</div>
									<div class="jDesc">${product.name!}</div>
									<a target="_blank" href="${isNotEmpty(p.url!)?p.url!:'javascript:;'}"><div class="jBtnArea">砍一砍 更优惠  &gt;</div></a>
								</div>
							</li>
						<%}%>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 热销爆款结束-->
</div>
<% include("/include/footer.html"){}%>
<% include("/include/foot.html"){}%>
</body>
</html>