<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
<div style="font-size:14px; color:#666;border:1px solid #d9d9d9; border-top:4px solid #e8410c; height:auto; padding:12px 35px 28px ;width:600px;margin:40px auto;font-family:microsoft yahei;word-wrap:break-word">
	<p style="line-height:20px;"><span style="color:#000;font-size:1.2em;font-weight:bold;">奔马</span>，欢迎您注册淘汽猫商城。</p>
	<p style="line-height:20px;">请访问以下链接完成您的邮箱激活验证。</p>
	<p style="line-height:20px;"><a href="http://127.0.0.1:8080/seller/sso/email/activeMail.htm?token=527ca07f2e0e4f85970595f360361ccf&uId=161" target="_blank" style=" color:#20a56e;white-space:normal">http://127.0.0.1:8080/seller/sso/email/activeMail.htm?token=527ca07f2e0e4f85970595f360361ccf&uId=161</a></p>
	<p style="line-height:20px;">如果无法打开链接，请复制上面的链接粘贴到浏览器的地址栏。 </p>
	<dl style="background:#f9f9f9; border:1px solid #dcdcdc; padding:12px; color:#8a6d3b; margin:25px 0;">
		<dt style="line-height:30px; font-weight:bold; margin-left:12px">为什么要验证邮箱</dt>
		<dd style="line-height:30px; margin-left:12px ">• 加强账户安全，通过邮箱来找回您的密码</dd>
		<dd style="line-height:30px; margin-left:12px ">• 可以通过邮箱地址直接登录淘汽猫</dd>
	</dl>
	<p style="color:#999; font-size:12px; line-height:12px; padding-top:24px; border-top:1px solid #dcdcdc;">本邮件由系统自动发送，请勿直接回复！如有任何疑问，请联系我们的客服人员。</p>
	<p style="color:#999; font-size:12px; line-height:12px;">联系电话：<span style="border-bottom:1px dashed #ccc;z-index:1" t="7" onclick="return false;" data="4008-000-000">4008-000-000</span></p>
</div>
</body>
</html>
