@charset "utf-8";
/* CSS Document */

.crumbs{ height:40px; line-height:40px;}
.screen{border-bottom:#dededf solid 1px;}
.screen dl{position: relative;background-color:#f6f6f6;overflow:hidden;border-left:#e8410b solid 10px;}
.screen dl dt{width:85px; padding-right:20px; font-weight:bold; float:left; text-align:right; line-height:34px;  border-top:#dededf solid 1px; }
.screen dl dd{background-color:#fff;border-left:#dededf solid 1px; line-height:34px;margin-left: 105px;margin-right:160px;  border-top:#dededf solid 1px; }
.screen dl dd ul li{ float:left; }
.screen dl dd ul li a{line-height:34px; padding:10px;}
.screen dl dd ul li.active a{ background-color:#e8410c; color:#fff; margin:5px;padding:5px;}
.screen dl.brand dt{ line-height:55px;}
.screen dl.brand dd{line-height:55px; }
.screen dl.brand dd ul{ margin-bottom:-1px;}
.screen dl.brand dd ul li{ width:110px; height:55px;border-right:#dededf solid 1px;border-bottom:#dededf solid 1px;}
.screen dl.brand dd ul li a{ display:block; padding:5px;}
.screen dl .more{border-right:#dededf solid 1px; position: absolute;right: 0;float:right; width:150px; height:500px; background-color:#FFFFFF;padding:5px;  border-top:#dededf solid 1px; }
.screen dl .more a{ width:57px; text-align:center; border:#dededf solid 1px; padding:2px 0px; display: inline-block; margin-left:10px;}

#search-list-box{ position:relative}
.search-list-box-more{ position:absolute; text-align:center;width: 100%;}
.search-list-box-more a{ font-weight:normal;display: block; width:80px; height:20px; line-height:16px; padding:0 15px; margin:0 auto;border: #dededf solid 1px;border-top: #fff solid 1px;margin-top: -1px;background-color: #fff;}



.ad-banner{ overflow:hidden}

.search-tool .search-navbar-inner{ display:block; height:48px; background-color:#f6f6f6;border-top: #dededf solid 1px;border-bottom: #dededf solid 1px; padding-left:10px; padding-right:10px;}
.search-tool .search-navbar-inner .sui-nav>li>a{ padding-top:7px; padding-bottom:7px; margin-top:7px;margin-bottom:7px; background-color:#fff;border: #dededf solid 1px; border-left:none}
.search-tool .search-navbar-inner .sui-nav>li.all>a{border-left: #dededf solid 1px}
.search-tool .search-navbar-inner .sui-nav>li.active a{ background-color:#e8410b; color:#fff;border: #dededf e8410b 1px; border-left:none;}
.search-tool .search-navbar-inner .sui-nav>li>a i{ float:right;width:7px; height:34px; height:20px; display:inline-block; background-image:url(../images/arrow_prodlist.png); background-position:top; background-repeat:no-repeat; margin-left:5px; margin-top:-7px;}
.search-tool .search-navbar-inner .sui-nav li a i{width:7px;display:inline-block; height:34px;}
.search-tool .search-navbar-inner .sui-nav>li.active>a i{ background-position:0 -33px;}
.search-tool .search-navbar-inner .sui-nav>li>a:hover i{ background-position:0 -65px;}
.search-tool .search-navbar-inner .sui-nav>li.active>a:hover i{background-position:0 -33px;}
.search-tool .search-navbar-inner .sui-nav>li>a i.desc{ background-position:0 -192px;}
.search-tool .search-navbar-inner .sui-nav>li>a i.asc{ background-position:0 -224px;}

.search-tool .search-navbar-inner .sui-nav>li.active>a i.desc{ background-position:0 -128px;}
.search-tool .search-navbar-inner .sui-nav>li.active>a i.asc{ background-position:0 -160px;}
.search-tool .search-navbar-inner .sui-form input{ margin-top:6px;padding-top: 7px;padding-bottom: 7px;}
.search-tool .search-navbar-inner .sui-form span.line{ line-height:48px; height:48px;}
.search-tool .search-navbar-inner .sui-form .sui-btn{padding: 5px 14px;    margin-top: 6px;    border: #dededf solid 1px; margin-left:5px;}
.goods-list ul.goods-pic-list { width:100%;display: inline-block;}
.goods-list ul.goods-pic-list li{ float:left;width: 220px;height: 295px;padding: 5px;margin: 10px;}
.goods-list ul.goods-pic-list li .text{ padding:0 5px;}
.goods-list ul.goods-pic-list li .p-picture img{ width:100%; height:100%;}
.goods-list ul.goods-pic-list li .p-name{ margin-top:5px; margin-bottom:10px;height: 34px; overflow:hidden}
.goods-list ul.goods-pic-list li .text .p-price{ font-size:14px; color:#F90004; line-height:20px; margin-bottom:0px;}
.goods-list ul.goods-pic-list li .text .p-price span.p-price2 strong{color: #fff;padding: 1px 5px;border-radius: 5px;background-color: #F90004; font-size:12px; font-weight:normal; float:right; line-height:16px;}
 ul.goods-pic-list li .text .p-price span.price-type{ margin-left:5px;display: inline-block;width:15px; height:14px; background-image:url(../images/price-type.gif); background-position:top;margin-top: -4px;vertical-align: middle;}
 ul.goods-pic-list li .text .p-price span.price-type2{ margin-left:5px;display: inline-block;width:15px; height:14px; background-image:url(../images/price-type.gif); background-position:bottom;margin-top: -4px;vertical-align: middle;}
.goods-list ul.goods-pic-list li.cur{box-shadow: 0 0 7px 1px #ccc;}
.goods-list ul.goods-pic-list dd.r-info{ float:right; width:205px; padding-top:10px;}
.goods-list ul.goods-pic-list dd.r-info .title{ background-color:#d6dde3; height:30px; line-height:30px; text-align:center; font-size:14px;}
.goods-list ul.goods-pic-list dd.r-info .text-list{ padding:5px; background-color:#f0f0f0; }
.goods-list ul.goods-pic-list dd.r-info .brand-list li img{ width:90px; height:35px;}
.goods-list ul.goods-pic-list dd.r-info .brand-list li{    text-align: center; width:50%; float:left; padding:0; margin:5px 0}
.goods-list ul.sortType{ display:block;}
.goods-list ul.sortType li{ float:left; display:inline-block;}
.goods-left-ad{ border:#e9410b solid 1px;}
.goods-left-ad .title{ font-weight:bold; padding:0 10px; color:#e9410b; font-size:18px; height:40px; line-height:40px;}
.goods-left-ad .title span{ font-weight:normal; float:right; font-size:12px; color:#999}
.goods-left-ad ul.goods-pic-list { width:100%;}
.goods-left-ad ul.goods-pic-list li{width:168px;margin:7px auto; padding-bottom:20px;}
.goods-left-ad ul.goods-pic-list li .p-picture img{ width:168px; height:168px;}
.goods-left-ad ul.goods-pic-list li .p-name{ margin-top:5px; margin-bottom:10px;}
.goods-left-ad ul.goods-pic-list li .text .p-price{ font-size:14px; color:#F90004; line-height:20px; margin-bottom:0px;}
.goods-left-ad ul.goods-pic-list li .text .p-price span.p-price2 strong{color: #fff;padding: 1px 5px;border-radius: 5px;background-color: #F90004; font-size:12px; font-weight:normal; float:right; line-height:16px;}

.goods-left-ad ul.goods-pic-list dd.r-info{ float:right; width:205px; padding-top:10px;}
.goods-left-ad ul.goods-pic-list dd.r-info .title{ background-color:#d6dde3; height:30px; line-height:30px; text-align:center; font-size:14px;}
.goods-left-ad ul.goods-pic-list dd.r-info .text-list{ padding:5px; background-color:#f0f0f0; }
.goods-left-ad ul.goods-pic-list dd.r-info .brand-list li img{ width:90px; height:35px;}
.goods-left-ad ul.goods-pic-list dd.r-info .brand-list li{    text-align: center; width:50%; float:left; padding:0; margin:5px 0}

.search-key {background-color: #f6f6f6;border: #dededf solid 1px; padding:20px;}
.search-key .key{ display:block;color:#e9410b;}
.search-key .key a{ margin:10px; color:#e9410b;}
.search-key .search-box{ margin-top:20px;}
.search-key .search-box label.control-label,
.search-key .key label.control-label{ margin-right:10px; color:#333; width:100px;}
.search-key .search-box form input.text{ width:500px; padding:0; height:32px; line-height:32px; border:#e8410c solid 1px; margin-right:1px;}
.search-key .search-box form input.btn{ width:50px; height:34px; border:none; line-height:34px; background-color:#e8410c; color:#fff; padding:0}
.search-key .search-box form .mycart-btn{ margin-left:36px;  border:#e8e8e8 solid 1px; float:left;width:160px; height:34px; line-height:34px; background-color:#fff; text-align:center; color:#e8410c;}
.search-key .search-box form .mycart-btn i{color:#e8410c;}
.header-main .topnav{ height:32px; line-height:32px;  text-align:right; background-color:#e3e4e6;}
.search-key .search-box form {}

.selected-box{border:#e9410b solid 1px; padding-top:5px;overflow:hidden}
.selected-box .title{ font-weight:bold; padding:0 30px; color:#e9410b; font-size:18px; height:40px; line-height:40px;}
.selected-box .title span{ font-weight:normal; float:right; font-size:12px; color:#999}

.selected-box ul.goods-pic-list { width:100%; padding:0px;}
.selected-box ul.goods-pic-list li{width:168px; float:left;margin:7px 16px;}
.selected-box ul.goods-pic-list li .p-picture img{ width:168px; height:168px;}
.selected-box ul.goods-pic-list li .p-name{ margin-top:5px; margin-bottom:10px; height:40px; line-height:20px;}
.selected-box ul.goods-pic-list li .text .p-price{ font-size:14px; color:#F90004; line-height:20px; margin-bottom:0px; margin-top:10px}
.selected-box ul.goods-pic-list li .text .p-price span.p-price2 strong{color: #fff;padding: 1px 5px;border-radius: 5px;background-color: #F90004; font-size:12px; font-weight:normal; float:right; line-height:16px;} b

.selected-box ul.goods-pic-list dd.r-info{ float:right; width:205px; padding-top:10px;}
.selected-box ul.goods-pic-list dd.r-info .title{ background-color:#d6dde3; height:30px; line-height:30px; text-align:center; font-size:14px;}
.selected-box ul.goods-pic-list dd.r-info .text-list{ padding:5px; background-color:#f0f0f0; }
.selected-box ul.goods-pic-list dd.r-info .brand-list li img{ width:90px; height:35px;}
.selected-box ul.goods-pic-list dd.r-info .brand-list li{    text-align: center; width:50%; float:left; padding:0; margin:5px 0}

/*图片轮播*/
.brand .fullSlide {width:100%;position:relative;background:#fff;}
.brand .fullSlide .bd {margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.brand .fullSlide .bd ul {width:100% !important; height:300px;}
.brand .fullSlide .bd ul li {width:100% !important;overflow:hidden;text-align:center; height:300px; background-size: cover; background-position:center}
.brand .fullSlide .bd ul li a {display:block;}
.brand .fullSlide .hd {width:100%;position:absolute;z-index:1;bottom:5px;left:0;height:30px;line-height:30px;}
.brand .fullSlide .hd ul {text-align:right;}
.brand .fullSlide .hd ul li {cursor:pointer;display:inline-block;*display:inline;zoom:1;width:14px;height:14px;margin:10px;overflow:hidden;background:#FFF;line-height:999px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.50; }
.brand .fullSlide .hd ul .on {background:#fff;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.brand .fullSlide .prev, .brand .fullSlide .next {display:block;position:absolute;z-index:1;top:145px;margin-top:-30px;left:3%;z-index:1;width:40px;height:80px;background:url(../images/slider-arrow.gif) -140px 5px no-repeat\9\0;background:url(../images/slider-arrow.png) -140px 5px no-repeat;_background:url(../images/slider-arrow.gif) -140px 5px no-repeat;*background:url(../images/slider-arrow.gif) -140px 5px no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.brand .fullSlide .next {left:auto;right:3%;background-position:-6px 5px;}

.brand .brand_menu{ float:left; width:190px; height:340px;margin-top: -40px;}
.brand .brand_menu h2{ height:30px; line-height:30px;color: #fff;background-color: #e8410b;padding-left: 15px; font-size:14px; margin:0 0 10px 0}
.brand .brand_menu h2 span{width: 16px;height: 16px;margin-left: 10px;background-image: url(../images/leftmenutitlebg.png);vertical-align: middle;background-position: 0px 0px;display: inline-block;background-repeat: no-repeat;}
.brand .brand_menu ul{background-color:#7d7d7d; position:absolute}
.brand .brand_menu ul li{ margin-top:-1px; width:190px;}
.brand .brand_menu ul li a{ height:26px; line-height:26px; display:block; color:#fff; padding:0 15px; background-image:url(../images/bg_dian.gif); background-position:top; background-repeat:repeat-x}
.brand .brand_menu .prosmore{ position: absolute;width: 766px;height: 301px;z-index: 333;background-color: #fff;margin-left: 190px;top: 0;}

.brand .brand_menu .prosmore{width: 765px;height: 298px;border:#7d7d7d solid 1px; border-left:none;background-color:#fff; }
.brand .brand_menu .prosmore .sub-sub-menu{ margin:15px; background-image:url(../images/menu-sub-line-bg.gif);background-color:#fff; }
.brand .brand_menu .prosmore .sub-sub-menu li{ width:auto; color:#333; line-height:34px;white-space: nowrap; float:left;    text-align: -webkit-match-parent;}
.brand .brand_menu .prosmore .sub-sub-menu li a{ font-size:14px; display: inline-block; float:left; color:#333; height:34px;line-height:34px; background-image:none;white-space:nowrap }
.brand .brand_menu .prosmore .sub-sub-menu li a:hover{ color:#e8410c}
.brand .brand_menu .prosmore .sub-sub-menu li .typename{ float:left}
.brand .brand_menu ul li .prosmore{ display:none}
.brand .brand_menu ul li.cur .prosmore{ display:block}
.brand .banner-brand{ float:left; width:760px; height:300px;}
.brand .brand_list_r{ float:right; width:240px; height:300px; background-color:#fff}
.brand .brand_list_r dt{ height:25px; line-height:25px; color:#fff; background-color:#e8410b; padding:0 20px;}
.brand .brand_list_r dd ul{border-right:#eee solid 1px; height:275px;}
.brand .brand_list_r dd ul li{ float:left; width:50%;}

.brand .brand_list_best{}
.brand .brand_list_r dd ul li img{ height:54px; border-left:#eee solid 1px;border-bottom:#eee solid 1px;}

.brand .brand_list_best .slick-slider .slick-list{border-left:#eee solid 1px;border-right:#eee solid 1px;}
.brand .brand_list_best .slick-slider .slick-list .slick-slide{ float:left; text-align:center}
.brand .brand_list_best .slick-slider .slick-list .slick-slide a{border-right:#eee solid 1px;display: block;height: 108px;margin: 5px 0;padding: 0;}
.brand .brand_list_best .slick-slider .slick-list .slick-slide img{ margin-top:10px;}
.brand .brand_list_best .slick-slider .slick-list .slick-slide strong{ font-size:14px;margin-top: 10px;display: block;}
.brand .brand_list_best .slick-slider .slick-list .slick-slide p{ font-size:12px;}
.brand .brand_list_best .slick-prev:before, .brand .brand_list_best .slick-next:before{ display:none}
.brand .brand_list_best .slick-prev, .brand .brand_list_best .slick-next{ margin-top:0;top:0; width:74px; height:130px; background-image:url(../images/prev-next.png); background-repeat:no-repeat}
.brand .brand_list_best .slick-prev{ background-position:0 0; left:0;}
.brand .brand_list_best .slick-next{background-position:-74px 0; right:0;}
.brand .brand_list_best .slick-slider{background:#fff; border:#eee solid 1px; margin-bottom:0}
.brand .brand_list_best .slick-slider .slick-list{ height:130px; margin:0 75px;}
.brand .brand_list_best .slick-slider .slick-list .slick-track{ height:130px;}

.brand-activity{}

.brand-activity dl dt{ background-color:#e8410b; height:55px; line-height:55px; font-size:26px; color:#fff;}
.brand-activity dl dt i.ico{ width:30px; height:30px; background-image:url(../images/ico-30.png); background-position:0 0; background-repeat:no-repeat; display:inline-block; float:left; margin:12px;}
.brand-activity dl dt .more{ margin:12px;line-height: 30px;float:right; display:inline-block; font-size:16px; color:#fff; height:30px; background-image:url(../images/ico-30.png); background-position:bottom right; background-repeat:no-repeat; padding-right:30px; }
.brand-activity dl dd.brand-ad-list{ padding:5px}
.brand-activity dl dd.brand-ad-list .best-1{ width:800px; float:left}
.brand-activity dl dd.brand-ad-list .best-1 li{ width:390px; height:250px; float:left;}
.brand-activity dl dd.brand-ad-list .best-2{ width:390px; float:right}
.brand-activity dl dd.brand-ad-list .best-2 li{ width:185px; height:250px; float:left;}
.brand-activity dl dd.brand-ad-list ul li{ padding:5px;}
.brand-activity dl dd.brand-ad-list ul li a{ display:block;}
.brand-activity dl dd.brand-ad-list ul li img{ margin:0px;height:250px;}
.brand_list_best2{ padding-top:0px; margin-top:-10px}
.brand_list_best2 .panelname{ border-left:#d8d8d8 solid 1px;border-right:#d8d8d8 solid 1px; }
.brand_list_best2 ul{border:#d8d8d8 solid 1px; border-bottom:none; border-right:none}
.brand_list_best2 ul li{ text-align:center; width:130px; float:left;border-bottom:#d8d8d8 solid 1px; border-right:#d8d8d8 solid 1px;}
.brand_list_best2 ul li p{ border-top:#d8d8d8 solid 1px; margin-bottom:0; height:20px; line-height:20px;}



.hot-brand-tabs .box-header .nav-tabs{ padding:0; border-bottom:#e8410b solid 2px; height:99px; overflow:hidden; margin-bottom:0}
.hot-brand-tabs .box-header .nav-tabs li{ background-color:#fff; position:relative; margin:0; margin-left:-1px; width:119px; height:98px; text-align:center; border:#d8d8d8 solid 1px; float:left; }
.hot-brand-tabs .box-header .nav-tabs li a i.icon{ border-bottom:#c8c8c8 solid 1px; display:block; width:60px; height:60px; margin:auto;background-image:url(../images/brand_list_icon.png); background-repeat:no-repeat}
.hot-brand-tabs .box-header .nav-tabs li.brandid-1{ margin-left:0;width:118px;}
.hot-brand-tabs .box-header .nav-tabs li.brandid-1 a i.icon{ background-position:0 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-2 a i.icon{ background-position:-60px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-3 a i.icon{ background-position:-120px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-4 a i.icon{ background-position:-180px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-5 a i.icon{ background-position:-240px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-6 a i.icon{ background-position:-300px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-7 a i.icon{ background-position:-360px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-8 a i.icon{ background-position:-420px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-9 a i.icon{ background-position:-480px 0}
.hot-brand-tabs .box-header .nav-tabs li.brandid-10 a i.icon{ background-position:-540px 0}


.hot-brand-tabs .box-header .nav-tabs li.brandid-1.active a i.icon{ background-position:0 -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-2.active a i.icon{ background-position:-60px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-3.active a i.icon{ background-position:-120px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-4.active a i.icon{ background-position:-180px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-5.active a i.icon{ background-position:-240px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-6.active a i.icon{ background-position:-300px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-7.active a i.icon{ background-position:-360px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-8.active a i.icon{ background-position:-420px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-9.active a i.icon{ background-position:-480px -60px}
.hot-brand-tabs .box-header .nav-tabs li.brandid-10.active a i.icon{ background-position:-540px -60px}



.hot-brand-tabs .box-header .nav-tabs li a{ padding:0; margin:1px; border:none; height:97px; color:#c8c8c8}
.hot-brand-tabs .box-header .nav-tabs li a strong{ height:30px; line-height:30px; font-size:15px;}
.hot-brand-tabs .box-header .nav-tabs li.active{  border:#e8410b solid 1px; z-index:1}
.hot-brand-tabs .box-header .nav-tabs li.active a{ color:#000;}
.hot-brand-tabs .box-header .nav-tabs li.active a i.icon{ border-bottom:#e8410b solid 1px;}

.hot-brand-tabs .tab-pane{ background-color:#fff; padding:5px;}
.hot-brand-tabs .tab-pane .brand-goods-list{}
.hot-brand-tabs .tab-pane .brand-goods-list li{ border:#c8c8c8 solid 1px; width:220px;background-color:#fff; margin:8px; float:left}
.hot-brand-tabs .tab-pane .brand-goods-list li .p-picture img{ width:214px; height:214px; margin:3px;}
.hot-brand-tabs .tab-pane .brand-goods-list li .p-brandlogo{ text-align:center; border-bottom:#c8c8c8 solid 1px;}
.hot-brand-tabs .tab-pane .brand-goods-list li .p-brandlogo img{height:48px;}
.hot-brand-tabs .tab-pane .brand-goods-list li .p-name{ padding:10px; text-align:left; margin-bottom:5px; margin-top:10px; background:url(../images/p-brandlogo-line.gif) top center no-repeat; margin-top:-1px; padding-top:20px;}

.hot-brand-tabs .tab-pane .brand-goods-list li .text{text-align: center; margin-bottom:10px;}

.hot-brand-tabs .tab-pane .brand-goods-list li .p-Collection{width:50px; display:inline-block; margin:auto;border: #e8410b solid 1px; border-radius:15px; height:22px; line-height:22px; padding:0 15px; color:#e8410b;  }
.hot-brand-tabs .tab-pane .brand-goods-list li .p-Collection:hover{ background-color:#e8410b; color:#fff}
.hot-brand-tabs .tab-pane .brand-goods-list li .p-Collection p{text-align:center;}


.goods-category-box dl{ float:left; width:396px;}
.goods-category-box dt{background-color:#e8410b; height:55px; line-height:55px; font-size:26px; color:#fff;}
.goods-category-box dt .ico{width:30px; height:30px; background-image:url(../images/ico-30.png); background-repeat:no-repeat; display:inline-block; float:left; margin:12px;}
.goods-category-box dl.xinpin dt .ico{ background-position:0 -30px;}
.goods-category-box dl.youxuan dt .ico{ background-position:0 -60px;}
.goods-category-box dl.rexiao dt .ico{ background-position:0 -90px;}
.goods-category-box dl dt .more{ margin:12px;line-height: 30px;float:right; display:inline-block; font-size:16px; color:#fff; height:30px; background-image:url(../images/ico-30.png); background-position:bottom right; background-repeat:no-repeat; padding-right:30px; }
.goods-category-box dl.xinpin{ width:798px;}
.goods-category-box dl.xinpin dd{ padding:10px 0 9px 0}
.goods-category-box dl.xinpin dd ul{ margin:0 14px;overflow:hidden;}
.goods-category-box dl.xinpin dd ul li{ background-color:#fff; width:25%; float:left; margin:0 0 0 -1px; }
.goods-category-box dl.xinpin dd ul li img{ width:187px; height:250px;}
.goods-category-box dl.xinpin dd ul li.con1,
.goods-category-box dl.xinpin dd ul li.con2{ border-top:none}
.goods-category-box dl.xinpin dd ul li.con1,
.goods-category-box dl.xinpin dd ul li.con3,
.goods-category-box dl.xinpin dd ul li.con5{ border-left:none}

.goods-category-box dl.rexiao dd{ padding:14px 0}
.goods-category-box dl.rexiao dd ul{ margin:0 14px;overflow:hidden;}
.goods-category-box dl.rexiao dd ul li{ background-color:#fff; width:50%; float:left; margin:0 0 0 -1px; border-left:#d8d8d8 solid 1px;border-top:#d8d8d8 solid 1px;}
.goods-category-box dl.rexiao dd ul li img{ width:183px; height:120px;}
.goods-category-box dl.rexiao dd ul li.con1,
.goods-category-box dl.rexiao dd ul li.con2{ border-top:none}
.goods-category-box dl.rexiao dd ul li.con1,
.goods-category-box dl.rexiao dd ul li.con3,
.goods-category-box dl.rexiao dd ul li.con5{ border-left:none}

.category .goods-list{margin-left:-15px;}
.category .goods-list ul.goods-pic-list{ }
.category .goods-list ul.goods-pic-list li{width: 219px; height:290px; background-color:#fff; padding:5px; margin-left:14px;margin-right: 0;}
.category .goods-list ul.goods-pic-list li p{ padding-left:5px; padding-right:5px;}
.category .leftmenu{ position:absolute}
.category .leftmenu .menu-category dt,
.category .leftmenu .menu-category dd{background: url(../images/leftmenubg.gif) bottom repeat-x;}
.category .leftmenu .menu-category dd{ display:none; padding:4px 0 4px 10px;height: 116px;}
.category .leftmenu .menu-category dd a{ line-height:19px; margin-right:10px; color:#fff;display:inline-block}
.category .leftmenu .menu-category{ padding:0;}
.category .leftmenu .menu-category dt a{ color:#fff; padding-left:10px; height:30px; line-height:30px; display:block; font-weight:normal;}
.category .leftmenu dl.cur{ background-color:#6a6a6a; color:#fff;}
.category .leftmenu dl dd a:hover{ color:#ffaa59;}
.category .leftmenu .menu-category dt b{display: inline-block; margin-left:5px;vertical-align: middle; width:16px; height:16px; background-image:url(../images/category_menu_b.png); background-position:bottom; background-repeat:no-repeat}
.category .leftmenu .menu-category.cur dt b{ background-position:top;}
.category .leftmenu .menu-category.cur dd{ display:block;}

.category .h303 .leftmenu .menu-category.cur dd{ height:116px;}

.category .leftmenu .menu-category dd .sub-category{ display:none}
.category .leftmenu .menu-category dd.hover .sub-category{ display:block}
.category .leftmenu .menu-category.cur dd .sub-category{position:absolute; top:0; background:#fff; margin-left:180px; padding:15px; height:273px;width: 736px;z-index: 11; color:#333;}
.category .leftmenu .menu-category.cur dd .sub-category li{  background-image:url(../images/menu-sub-line-bg.gif)}
.category .leftmenu .menu-category.cur dd .sub-category li a{ color:#333; height:34px; line-height:34px; margin:0 10px; font-weight:normal} 
.category .leftmenu .menu-category.cur dd .sub-category li a.typename{ font-weight:bold}
.category .leftmenu .menu-category.cur dd .sub-category li a:hover{color: #e8410c;}

.category .category-two{ border:#7d7d7d solid 1px; height:301px;}
.category .category-two .menu-category dt a{ height:25px; line-height:25px;}
.category .category-two{ position:absolute}
.category .category-two .menu-category dd{ margin-top:-1px;  display:none;  position:absolute; z-index:99; top:0;  margin-left:190px; background-color:#fff;}
.category .category-two .menu-category dd a{ color:#333; line-height:34px; height:34px; padding:0 10px;white-space:nowrap }



.category .h303 .category-two .menu-category.cur dd{ display:block;width:765px;height:301px;padding:0px;background-image: none;border: #7d7d7d solid 1px;border-left: none;}
.category .h303 .category-two .menu-category.cur dd ul{ background-image:url(../images/menu-sub-line-bg.gif); margin:15px;}
.category .h303 .category-two .menu-category dd ul li{white-space: nowrap; display:inline-block;  text-align: -webkit-match-parent;}

.category .h303 .category-two .menu-category.cur dt a{background-color: #fff;color: #333;height:26px; }
.category .h303 .category-two .menu-category.cur dt a b{float: right;background-position: bottom;margin-top: 5px;}


.activity .activity_list dl{ margin:25px 0; height:350px; line-height:350px;}
.activity .activity_list dl dt{ width:71px; height:350px; position:absolute; background-image:url(../images/activity_dt_bg.png); background-repeat:no-repeat; background-position:left center;line-height: 350px;}
.activity .activity_list dl dt strong{ color:#e8410c; width:53px; text-align:center; float:left; display:block; font-size:40px; font-style:italic}
.activity .activity_list dl dd img{ width:1198px; height:348px;display: grid;}
.activity .activity_list dl dd{ border:#999999 solid 1px;}
.head-activity .topmain .search{ width:280px;height: 86px;margin-top: 20px;float: right; margin-left:0}
.head-activity .topmain .search .search-box{ width:280px;}
.head-activity .topmain .search input.text{ width:227px;}
.head-activity .topmain .tel{ margin-top:8px;float: right;}
.head-activity .topmain .nav-activity{ margin-top: 77px;width: 700px;float: left; text-align:right}
.head-activity .topmain .nav-activity li{display: inline-block;font-size:16px; font-weight:bold; padding:5px; border:#e8410c solid 1px; border-bottom:none; margin-left:10px;}
.head-activity .topmain .nav-activity li.cur{ background-color:#f19149; }
.head-activity .topmain .nav-activity li.cur a{color:#fff;}



.ranking .head-ranking .topmain .search{ width:280px;height: 86px;margin-top: 35px;float: right; margin-left:0}
.ranking .head-ranking .topmain .search .search-box{ width:320px;}
.ranking .head-ranking .topmain .search input.text{ width:227px;}

.ranking_list{ margin-left:-90px;}
.ranking_list dl{ margin-left:90px; width:340px; float:left; margin-top:20px;}
.ranking_list dl dt{ font-size:14px; height:30px; line-height:30px; padding:0 20px; background-color:#e8410b; color:#fff;}
.ranking_list dl dd{ background-color:#fff;}
.ranking_list dl dd ul{ padding:10px 0}
.ranking_list dl dd ul li{ padding:5px 10px; overflow:hidden}
.ranking_list dl dd ul li .p-picture{ width:74px; height:74px; border:#c8c8c8 solid 1px; float:left; margin-right:10px;}
.ranking_list dl dd ul li .p-picture img{ width:100%; height:100%}
.ranking_list dl dd ul li .p-price{ margin-bottom:0}
.ranking_list dl dd ul li .text{ height:76px;}
.ranking_list dl dd ul li b{ float:left; width:15px; height:15px; background-image:url(../images/ranking_icon.gif); display:inline-block; margin-right:1px;}
.ranking_list dl dd ul li.con1 b{ background-position:0 0}
.ranking_list dl dd ul li.con2 b{ background-position:0 -15px}
.ranking_list dl dd ul li.con3 b{ background-position:0 -30px}
.ranking_list dl dd ul li.con4 b{ background-position:0 -45px}
.ranking_list dl dd ul li.con5 b{ background-position:0 -60px}
.ranking_list dl dd ul li.con6 b{ background-position:0 -75px}
.ranking_list dl dd ul li.con7 b{ background-position:0 -90px}
.ranking_list dl dd ul li.con8 b{ background-position:0 -105px}
.ranking_list dl dd ul li.con9 b{ background-position:0 -120px}
.ranking_list dl dd ul li.con10 b{ background-position:0 -135px}

.ranking_list dl.list_02 dd,
.ranking_list dl.list_03 dd{ height:330px;}
.ranking_list dl.list_02 dd ul{ padding:0}
.ranking_list dl.list_02 dd ul li{width:50%; float:left; text-align:center;padding:3px 0}
.ranking_list dl.list_03 dd ul li a{ height:31px; overflow:hidden;}
.ranking_list dl.list_03 dd ul li{ height:31px; padding:0px 20px;line-height:31px;}
.ranking_list dl.list_03 dd ul li b{ margin-right:5px; margin-top:7px;}

.car-tool{ background:#f9f9f9}
.car-tool dl.pinyin dd{ margin-left:-5px; padding-bottom:10px}
.car-tool dl.pinyin dt{ height:30px; line-height:30px; padding:0 15px; color:#fff; background:#e8410b; font-size:14px;}
.car-tool dl.pinyin dd a{ border:#e8410b solid 1px; font-size:20px; color:#e8410b; font-weight:bold; text-align:center; width:28px; height:28px; line-height:28px; float:left; margin-left:5px; margin-top:5px;}

.car-tool dl.pinyin dd a:hover,
.car-tool dl.pinyin dd a.cur{background:#e8410b; color:#fff;}
.car-tool .pinyin-list .sub-list{ padding-bottom:5px;}
.car-tool .pinyin-list .sub-list h2{ margin:0; margin-bottom:10px; text-align:center; color:#e8410b; font-size:20px; font-weight:bold; background:#e3e4e5}
.car-tool .pinyin-list .sub-list .ztree{ line-height:24px; padding:0 10px 0 10px;}
.car-tool .pinyin-list .sub-list .ztree li span{ color:#999}

.car-screen .selected{ padding:5px 0;font-size:14px; color:#999}
.car-screen .selected span{ font-size:16px; border:#e8410b solid 1px; height:24px; line-height:24px; padding:0 5px; color:#e8410b; margin-right:10px;}
.car-screen dl dt.chexi{ display:block;border:#d8d8d8 solid 1px; height:30px; line-height:30px; padding:5px 10px; font-size:17px; font-weight:bold; color:#000}
.car-screen dl dt.chexi strong{ width:80px;float:left; text-align:center}
.car-screen dl dt.chexi a{ margin:0px 5px; float:left; padding:5px; line-height:20px; height:20px;}
.car-screen dl dt.chexi a.cur{background-color: #e8410b; color:#fff;}
.car-screen dl dt.chexi a:hover{background-color: #e8410b; color:#fff;}
.car-screen dl dt.pinpai{background: #e8410b; display:block; height:30px; line-height:30px; padding:5px 10px; font-size:17px; font-weight:bold; color:#fff; margin-top:10px;}
.car-screen dl dt.pinpai strong{ width:80px;float:left; text-align:center}
.car-screen dl dt.pinpai a{color:#fff;  margin:0px 5px; float:left; padding:4px; line-height:20px; height:20px;}
.car-screen dl dt.pinpai a.cur{background-color: #ff7d00; color:#fff;}
.car-screen dl dt.pinpai a:hover{background-color: #ff7d00; }

.car-screen dl dd.pinpailist{ margin-top:10px; border:#dedede solid 1px;    padding:10px 20px;}
.car-screen dl dd.pinpailist ul{width: 100%;}
.car-screen dl dd.pinpailist li{font-size:16px; color:#999; width:19.5%;display: inline-block;height:31px; line-height:31px;}
.car-screen dl dd.pinpailist a{ padding:5px;}
.car-screen dl dd.pinpailist a.cur{background-color: #e8410b; color:#fff}


.goods-list-big ul.goods-list li{ margin-bottom:20px;border:#dedede solid 1px; padding:10px; height:220px;}
.goods-list-big ul.goods-list li .p-picture{ width:220px; height:220px; float:left}
.goods-list-big ul.goods-list li .p-picture img{ width:100%; height:100%}
.goods-list-big ul.goods-list li .text{ margin-left:240px; margin-right:280px; font-size:14px; position:relative}
.goods-list-big ul.goods-list li .text p{ margin-bottom:10px;}
.goods-list-big ul.goods-list li .text .p-name{ color:#e8410b; max-height:64px; overflow:hidden; line-height:32px; font-size:17px; font-weight:bold; margin-top:0px; margin-bottom:20px;}
.goods-list-big ul.goods-list li .text2{ float:right; width:250px; height:180px; padding:20px 0; border-left:#e6e6e7 solid 1px; padding-left:10px; text-align:center}
.goods-list-big ul.goods-list li .text2 .btn a{ margin:5px; width:100px;}
.goods-list-big ul.goods-list li .text2 .btn a.btn-danger{ color:#fff}
.goods-list-big ul.goods-list li .text2 .btn a.btn-xlarge{ padding:4px 0}
.goods-list-big ul.goods-list li .text2 .p-price{ font-size:28px;color:#e8410b; margin:auto; width:210px; height:50px; line-height:50px; text-align:left}
.goods-list-big ul.goods-list li .text2 .store{ text-align:center; font-size:17px;color:#e8410b;}
.goods-list-big ul.goods-list li .text2 .comment-star{width:78px;height:14px;background:url(../images/star.png) no-repeat;margin: auto;}
.goods-list-big ul.goods-list li .text2 .comment-star.star0{background-position:-80px 0}
.goods-list-big ul.goods-list li .text2 .comment-star.star1{background-position:-64px 0}
.goods-list-big ul.goods-list li .text2 .comment-star.star2{background-position:-48px 0}
.goods-list-big ul.goods-list li .text2 .comment-star.star3{background-position:-32px 0}
.goods-list-big ul.goods-list li .text2 .comment-star.star4{background-position:-16px 0}
.goods-list-big ul.goods-list li .text2 .comment-star.star5{background-position:0 0}

.purchase .wapad{ width:190px; float:left}
.ad-purchase-text{ width:100%;  padding-top:6px; display:block; overflow:hidden;}
.ad-purchase-text ul{ background-color:#fff;height:128px; overflow:hidden; padding:10px 0}
.ad-purchase-text ul li{ float:left; width:339px; margin-left:-1px; padding:4px 20px; font-size:14px; border-left:#eaeaea solid 1px;}
.ad-purchase-text ul li span{ float:right; color:#e8410b}
.purchase .viplist-art dt{ height:30px; line-height:30px; text-align:center; color:#fff; background-color:#e8410b}
.purchase .viplist-art dd{ padding:6px 0;background-color:#f0f0f0}
.purchase .index-user{border-bottom:#ccc dashed 2px;}
.purchase .sjlogin{ margin-bottom:0}
.purchase .sjlogin .btn1{ width:118px;text-align:center;height:30px; line-height:30px; display:inline-block; border-right:#ccc dashed 2px;}
.purchase .sjlogin .btn2{ width:118px;text-align:center;height:30px; line-height:30px; display:inline-block;}
.purchase .viplist-art .text-list{ padding:5px 10px;}

.purchase-index-box dl{}
.purchase-index-box dt{background-color:#e8410b; height:55px; line-height:55px; font-size:26px; color:#fff;}
.purchase-index-box dd{ height:785px;}
.purchase-index-box dt .ico{width:30px; height:30px; background-image:url(../images/ico-30.png); background-repeat:no-repeat; display:inline-block; float:left; margin:12px;}
.purchase-index-box dl.dazong,
.purchase-index-box dl.regou,
.purchase-index-box dl.qijiandian,
.purchase-index-box dl.huodong{ width:323px;}
.purchase-index-box dl.dingdan,
.purchase-index-box dl.chengjiao{ width:542px;}
.purchase-index-box dl.dazong dt .ico{ background-position:0 -180px;}
.purchase-index-box dl.dingdan dt .ico{ background-position:0 -210px;}
.purchase-index-box dl.regou dt .ico{ background-position:0 -240px;}

.purchase-index-box dl.dingdan dt .ico{ background-position:0 -180px;}
.purchase-index-box dl.chengjiao dt .ico{ background-position:0 -210px;}
.purchase-index-box dl.huodong dt .ico{ background-position:0 -240px;}

.purchase-index-box dl dt .more{ margin:12px;line-height: 30px;float:right; display:inline-block; font-size:16px; color:#fff; height:30px; background-image:url(../images/ico-30.png); background-position:bottom right; background-repeat:no-repeat; padding-right:30px; }
.purchase-index-box dl dt .text-more{ margin:12px;line-height: 30px;float:right; display:inline-block; font-size:16px; color:#fff; height:30px; }

.purchase-index-box dl.dazong dd{ padding:0}
.purchase-index-box dl.dazong dd ul{ margin:0 14px;overflow:hidden;}
.purchase-index-box dl.dazong dd ul li{ background-color:#fff;margin:0; border:#d8d8d8 solid 1px; margin-top:10px;}
.purchase-index-box dl.dazong dd ul li img{ width:100%;height:243px;}

.purchase-index-box dl.regou dd{ padding:0}
.purchase-index-box dl.regou dd ul{ margin:0 14px;overflow:hidden;}
.purchase-index-box dl.regou dd ul li{ background-color:#fff;margin:0; border:#d8d8d8 solid 1px; margin-top:10px;}
.purchase-index-box dl.regou dd ul li img{ width:100%;height:243px;}

.purchase-index-box dl.qijiandian dd{ padding:0}
.purchase-index-box dl.qijiandian dd ul{ margin:0 14px;overflow:hidden;}
.purchase-index-box dl.qijiandian dd ul li{ background-color:#fff;margin:0; margin-top:10px;}
.purchase-index-box dl.qijiandian dd ul li a{ border:#d8d8d8 solid 1px; display:block; text-align:center}
.purchase-index-box dl.qijiandian dd ul li p{ font-size:16px; line-height:27px; height:27px; margin-bottom:0px; text-align:center;}
.purchase-index-box dl.qijiandian dd ul li img{ width:180px; height:90px;}


.purchase-index-box dl.huodong dd{ padding:0}
.purchase-index-box dl.huodong dd ul{ margin:0 14px;overflow:hidden;}
.purchase-index-box dl.huodong dd ul li{ background-color:#fff;margin:0; border:#d8d8d8 solid 1px; margin-top:10px;}
.purchase-index-box dl.huodong dd ul li img{ width:100%;}

.purchase-index-box dl.dingdan dd{ padding:10px 14px;height:765px;}
.purchase-index-box dl.dingdan dd ul.dingdan_list li.con1 img{ width:100%;}
.purchase-index-box dl.dingdan dd ul.dingdan_list{border:none; border:#dededf solid 1px; border-bottom:none;}
.purchase-index-box dl.dingdan dd ul.dingdan_list li{ padding:5px 10px;border-bottom:#dededf solid 1px;}
.purchase-index-box dl.dingdan dd ul.dingdan_list li.one{ background-color:#d2f5ff;word-wrap:break-word}
.purchase-index-box dl.dingdan dd ul.dingdan_list li.two{ background-color:#fff;}
.purchase-index-box dl.dingdan dd ul.dingdan_list li span.cx{ float:right; color:#0090ff}

.purchase-index-box dl.chengjiao dd{ padding:10px 14px;height:765px;}
.purchase-index-box dl.chengjiao dd ul.dingdan_list li.con1 img{ width:100%;}
.purchase-index-box dl.chengjiao dd ul.dingdan_list{border:none; border:#dededf solid 1px; border-bottom:none;}
.purchase-index-box dl.chengjiao dd ul.dingdan_list li{ padding:5px 10px;border-bottom:#dededf solid 1px;}
.purchase-index-box dl.chengjiao dd ul.dingdan_list li.one{ background-color:#d2f5ff;}
.purchase-index-box dl.chengjiao dd ul.dingdan_list li.two{ background-color:#fff;}
.purchase-index-box dl.chengjiao dd ul.dingdan_list li.one font{ color:#e8410b}
.purchase-index-box dl.chengjiao dd ul.dingdan_list li.two font{ color:#0090ff}

.purchase-index-box dl.chengjiao dd ul.dingdan_list li span.cx{ float:right; color:#0090ff; border-left:#dededf solid 1px;}


.purchase .word-info{background-color:#fff;}
.purchase .word-info dl{ float:left; padding-bottom:10px;}
.purchase .word-info dl dt{ border-top:#dedede solid 1px; border-bottom:#f6f6f6 solid 8px; background-color:#f0f0f0; height:54px; line-height:54px; font-size:20px; text-align:center}
.purchase .word-info dl dd .box{ height:290px; border:#e0e0e0 dashed 2px; border-top:none; padding:0 10px; margin-top:10px;}
.purchase .word-info dl.anli{ width:300px;}
.purchase .word-info dl.anli dd .box{ margin-left:10px; }
.purchase .word-info dl.anli dd .box li{ height:22px; line-height:22px;}
.purchase .word-info dl.cuohe{width:300px; margin-left:12px;}
.purchase .word-info dl.cuohe .box{line-height:26px;}
.purchase .word-info dl.cuohe h3{ font-size:14px; margin:0; text-align:center; height:20px; line-height:20px; font-weight:normal}
.purchase .word-info dl.dazong{width:576px; margin-left:12px;}
.purchase .word-info dl.dazong dd .box{ margin-right:10px; border:none;border-right:#e0e0e0 dashed 2px;border-bottom:#e0e0e0 dashed 2px; padding:0; background:url(../images/dazong-bg.png) center no-repeat}
.purchase .word-info dl.dazong dd .box li{ width:186px; float:left; height:70px;border-left:#e0e0e0 dashed 2px;border-top:#e0e0e0 dashed 2px;}
.purchase .word-info dl.dazong dd .box li.con5{ border-bottom:none}
.purchase .word-info dl.dazong dd .box li.con8{ border-top:#fff dashed 2px;}
.purchase .word-info dl.dazong dd .box li img{ width:140px; height:70px;margin:0 23px;}

.caigoudan .head-purchase{ border-bottom:#b2b2b2 solid 1px;}
.caigoudan .pagetitle{ border-top:#e4e4e6 solid 10px;border-bottom: #e8410b solid 1px; height:54px; line-height:54px; padding-top:20px;}
.caigoudan .pagetitle strong{ height:54px; line-height:54px; padding:0 20px; background-color:#e8410b; font-size:22px; color:#fff;display: inline-block; font-weight:normal}
.caigoudan .pagetitle strong i{ font-size:26px;}
.caigoudan .caigoudan-main{ padding:30px 0; margin:auto;}
.caigoudan .caigoudan-main .sui-form .control-group .control-label{ font-size:14px; width:130px;}
.caigoudan .caigoudan-main .sui-form .control-group .controls{ font-size:14px;}
.caigoudan .caigoudan-main .sui-form .control-group .controls textarea.input-xxlarge{ width:500px; padding-left:8px; padding-right:8px;}
.caigoudan .ad-banner{ display:none}
.mini-wp{ width:700px}

body.article .art-r{ width:340px; float:right}
body.article .art-page{ margin-right:360px;border-top:#e8410b solid 1px; padding:20px 40px; background-color:#f5f8fd}
body.article .art-r .ads-pic li{ padding-bottom:30px;}
body.article .panel dt{ font-size:14px; height:30px; line-height:30px; padding:0 20px; background-color:#e8410b; color:#fff;}
body.article .panel dd{ background-color:#fff;}
body.article .panel dd ul.text-list{ padding:10px 20px}
body.article .panel dd ul.text-list li{ padding:7px 0px; overflow:hidden; height:14px; line-height:14px;}
body.article .panel dd ul.text-list li a{height:14px; line-height:14px; overflow:hidden;white-space:nowrap; font-size:14px;margin-left: 20px; }
body.article .panel ul.text-list li b{ position:absolute; float:left; width:15px; height:15px; background-image:url(../images/ranking_icon.gif); display:inline-block; margin-right:1px; margin-right:5px;}
body.article .panel ul.text-list li.con1 b{ background-position:0 0}
body.article .panel ul.text-list li.con2 b{ background-position:0 -15px}
body.article .panel ul.text-list li.con3 b{ background-position:0 -30px}
body.article .panel ul.text-list li.con4 b{ background-position:0 -45px}
body.article .panel ul.text-list li.con5 b{ background-position:0 -60px}
body.article .panel ul.text-list li.con6 b{ background-position:0 -75px}
body.article .panel ul.text-list li.con7 b{ background-position:0 -90px}
body.article .panel ul.text-list li.con8 b{ background-position:0 -105px}
body.article .panel ul.text-list li.con9 b{ background-position:0 -120px}
body.article .panel ul.text-list li.con10 b{ background-position:0 -135px}


body.article .art-page h1.title{ font-size:18px; font-weight:bold; line-height:220%; text-align:center}
body.article .art-page .info{ font-size:12px; color:#333; height:40px; line-height:40px; width:100%; display:block; border-top:#e8410b solid 1px; text-align:center}
body.article .art-page .info span{ margin-right:20px;}
body.article .art-page .info span b{ font-weight:normal}
body.article .art-page .content{ color:#000; line-height:220%; text-align:justify; font-size:14px; margin-top:20px;}
body.article .art-page .art-list li{ display:block; border-bottom:#d8d8d8 solid 1px; padding:15px 0}
body.article .art-page .art-list li .picture{ float:right; width:260px; height:170px; margin-left:20px}
body.article .art-page .art-list li .picture img{ width:100%; height:100%;}
body.article .art-page .art-list li .work .title{ font-size:18px; padding-bottom:15px; font-weight:bold;}
body.article .art-page .art-list li .work .des{ font-size:14px; color:#666; line-height:200%; height:90px; overflow:hidden}
body.article .art-page .art-list li .info-list{ margin-top:23px;}
body.article .art-page .art-list li .info-list span{ color:#666; line-height:24px; height:24px; margin-right:20px; margin-top:20px;}
