<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<% var entry=parameter.entry;%>
	<title>思程商城</title>
	<% include("/include/head.html"){}%>
	<!-- 业务js -->
	<script type="text/javascript" src="${ctx}/views/wap/default/addressList.js"></script>
	<!-- 选择地区js -->
	<script type='text/javascript' src="${ctx}/views/wap/default/js/wx-area.js"></script>
	<!-- 选择地区css -->
	<link rel="stylesheet" href="${ctx}/views/wap/default/css/wx-area.css">
</head>
<body class="address-list-body">
	<div class="sui-page-group address-list">
		<div class="sui-page sui-page-current address-list-div" id='addressList'>
			<div class="header-default-box weui-border-b">
				<a href="javascript:history.back(-1);" class="icon icon-arrowleft l back"></a>
				<!-- <a href="home.jsp" class="icon icon-wxbzhuye r"></a> -->
				<h1>管理收货地址</h1>
			</div>
			<div id="addressContent"></div>
			<div class="weui_btn_area">
				<a id="formSubmitBtn" href="${ctxw}/user/address/form.htm" class="weui_btn weui_btn_warn use-router" data-no-cache="true">新增一个收货地址</a>
	     	</div>
	    	<% include("/include/foot-nav.html"){}%>
			<script type="text/template" id="address_tpl" info="收货地址模板">
				<div class="weui_cells address-item">
					<label class="weui_cell weui_check_label ${(entry!)=='1'?'orderEntry':''}" addressId="{{d.addressId}}">
						<div class="weui_cell_bd weui_cell_primary">
							<p class="l name">{{d.name}}</p>
							<p class="r phone">{{d.mobile}}</p>
							<div class="clear"></div>
							<p class="detail-address">{{d.addressDetail}}</p>
						</div>
					</label>
					<div class="weui_cells weui_cells_checkbox">
				        <label class="weui_cell weui_check_label l default-address-input" for="{{d.addressId}}">
				            <div class="weui_cell_hd">
				                <input type="checkbox" class="weui_check" name="checkbox1" id="{{d.addressId}}" {{d.isDefault}}/>
				                <i class="weui_icon_checked"></i>
				            </div>
				            <div class="weui_cell_bd weui_cell_primary">
				                <p>设为默认</p>
				            </div>
				        </label>
				        <div class="r">
							<a href="{{d.editUrl}}" class="edit-address use-router" data-no-cache="true"><span class="icon icon-67"></span> 编辑</a>
							<a attrId="{{d.addressId}}" href="javascript:void(0);" class="dele-address"><span class="icon icon-26"></span> 删除</a>
						</div>
				     </div>
				</div>
			</script>
		</div>
	</div>
	<% include("/include/foot.html"){}%>
</body>
</html>