<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>思程商城</title>
	<% include("/include/head.html"){}%>
	<% var deliverId=parameter.deliverId;%>
	<!-- 下拉选  -->
	<script type='text/javascript' src="${ctx}/views/wap/default/weui/picker.js"></script>
	<script type='text/javascript' src="${ctx}/views/wap/default/weui/picker-city.js"></script>
	<script type='text/javascript' src="${ctx}/views/wap/default/weui/select.js"></script>
	<!-- 业务js -->
	<script type="text/javascript" src="${ctx}/views/wap/default/tradeDeliverForm.js"></script>
</head>
<body ontouchstart class="invoiceForm-body">
	<div class="sui-page-group invoice-form" >
	    <div class="sui-page" id='invoiceForm'>
	    	<% include("/include/router-login.html"){}%>
			<div class="header-default-box weui-border-b">
				<a href="javascript:void(0);" class="icon icon-arrowleft l back" onclick="javascript:window.history.go(-1);"></a>
				<h1>发票信息设置</h1>
			</div>
		    <form id="invoice_form">
		    	<input id=deliverId name="deliverId" class="weui_input" type="hidden" value="${deliverId!}"/>
		        <div class="weui_cells weui_cells_form">
		            <div class="weui_cell">
		                <div class="weui_cell_hd"><label class="weui_label">发票类型：</label></div>
		                <div class="weui_cell_bd weui_cell_primary invoice_type">
							<input type="text" id="deliverType" class="weui_input" placeholder="请选择发票类型" maxlength="20" required/>
		                </div>
		             	<div class="weui_cell_ft">
		                	<i class="weui_icon_warn"></i>
		            	</div>
		            </div>
		            <div class="weui_cell">
		                <div class="weui_cell_hd"><label class="weui_label">公司名称：</label></div>
		                <div class="weui_cell_bd weui_cell_primary invoice_type">
							<input type="text" id="companyName" name="companyName" class="weui_input" placeholder="请选择输入公司名称" maxlength="20" required/>
		                </div>
		             	<div class="weui_cell_ft">
		                	<i class="weui_icon_warn"></i>
		            	</div>
		            </div>
		            <div class="weui_cell">
		                <div class="weui_cell_hd"><label class="weui_label">纳税人识别号：</label></div>
		                <div class="weui_cell_bd weui_cell_primary">
		                    <input type="text" id="axpayerIdentityNumber" name="axpayerIdentityNumber" class="weui_input" placeholder="请输入纳税人识别号" maxlength="20"/>
		                </div>
		             	<div class="weui_cell_ft">
		                	<i class="weui_icon_warn"></i>
		            	</div>
		            </div>
		            <div class="weui_cell">
		                <div class="weui_cell_hd"><label class="weui_label">开户行：</label></div>
		                <div class="weui_cell_bd weui_cell_primary">
		                    <input type="text" id="openingBank" name="openingBank" class="weui_input" placeholder="请输入开户行" maxlength="20"/>
		                </div>
		             	<div class="weui_cell_ft">
		                	<i class="weui_icon_warn"></i>
		            	</div>
		            </div>
		            <div class="weui_cell">
		                <div class="weui_cell_hd"><label class="weui_label">账号：</label></div>
		                <div class="weui_cell_bd weui_cell_primary">
		                    <input type="text" id="accountNumber" name="accountNumber" class="weui_input" placeholder="请输入账号" maxlength="20"/>
		                </div>
		             	<div class="weui_cell_ft">
		                	<i class="weui_icon_warn"></i>
		            	</div>
		            </div>
		            <div class="weui_cell">
		                <div class="weui_cell_hd"><label class="weui_label">地址：</label></div>
		                <div class="weui_cell_bd weui_cell_primary">
		                    <input type="text" id="address" name="address" class="weui_input" placeholder="请输入地址" maxlength="20"/>
		                </div>
		             	<div class="weui_cell_ft">
		                	<i class="weui_icon_warn"></i>
		            	</div>
		            </div>
		            <div class="weui_cell">
		                <div class="weui_cell_hd"><label class="weui_label">手机号：</label></div>
		                <div class="weui_cell_bd weui_cell_primary">
		                    <input type="text" id="phone" name="phone" class="weui_input" placeholder="请输入手机号" maxlength="11" required pattern="(1[0-9]\d{9})"/>
		                </div>
		             	<div class="weui_cell_ft">
		                	<i class="weui_icon_warn"></i>
		            	</div>
		            </div>
		        </div>
		        <div class="weui_cells weui_cells_checkbox">
					<label class="weui_cell weui_check_label">
		                <div class="weui_cell_hd">
		                    <input id="isDefault" type="checkbox" class="weui_check" name="hbjbuyer" value="1"/>
		                    <i class="weui_icon_checked"></i>
		                </div>
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>设为默认</p>
		                </div>
					</label>
		        </div>
		        <div class="weui_btn_area">
		            <a id="formSubmitBtn" href="javascript:" class="weui_btn weui_btn_warn">保存</a>
		        </div>
		    </form>
	     	<% include("/include/foot-nav.html"){}%>
		 </div>
	</div>
	<% include("/include/foot.html"){}%>
</body>
</html>