<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>思程商城</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">


  </head>
  <body>


    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">

        <!-- page 2 -->
        <div class="page" id='router2'>
          <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="./index.html">
              <span class="icon icon-left"></span>
              返回
            </a>
            <h1 class='title'>会员中心</h1>
          </header>
          <div class="content">
            <div class="content-block">
              这是ajax 加载的新页面，点击左上角的 <a href="#" class='back'>返回</a> 按钮返回上一页。
            </div>
            <div class="content-block">
              开始一个循环 <a href="./index.html">进入</a>
            </div>
          </div>
        </div>

    </div>



    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>




  </body>
</html>