<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>思程商城</title>
	<% include("/include/head.html"){}%>
	<!-- 页面返回js -->
	<script type='text/javascript' src="${ctx}/views/wap/default/js/wx-back.js"></script>
	<!-- 业务js -->
	<script type="text/javascript" src="${ctx}/views/wap/default/userCollectionStore.js"></script>
</head>
<body class="collectionStore-body">
	<% include("/include/foot-nav.html"){}%>
	<div class="header-default-box weui-border-b">
		<a href="javascript:;" class="icon icon-arrowleft l back click_back"></a>
		<span class="icon icon-category administration" style="display: block;"> 管理</span>
		<span class="icon icon-duihao administrationOK" style="display: none;"> 完成</span>
		<h1>店铺收藏</h1>
	</div>
	<div class="noList hide" style="padding-top: 40%;"></div>
	<div class="weui_panel weui_cells_checkbox">
		<div class="weui_panel_bd"></div>
	</div>
	<div class="weui_tabbar weui_cells_checkbox administration_footer" style="display: none;">
		<label class="weui_cell collectionStoreAll">
			<div class="weui_cell_hd">
				<input type="checkbox" class="weui_check" name="collectionStoreAll">
				<i class="weui_icon_checked"></i>
			</div>
		</label>
		<span>全选</span>
		<a href="javascript:;" class="deleteCollection">
			<p class="view_nav_label">删除</p>
		</a>
	</div>
	<script type="text/template" id="collectionStore_Tpl" info="店铺收藏模板">
		<div class="weui_media_box weui_media_appmsg">
			<label class="weui_cell weui_check_label collectionStore" style="display: none;">
				<div class="weui_cell_hd">
					<input type="checkbox" class="weui_check" name="collectionStore" value="{{d.collectionStoreId}}">
					<i class="weui_icon_checked"></i>
				</div>
           	 </label>
			<a href="${ctxw}/store/index.htm?storeId={{d.storeId}}">
				<div class="weui_media_hd weui-border-radius">
					<img class="weui_media_appmsg_thumb" data-src="{{d.logo}}" alt="" onerror="fdp.defaultImage('/static/static/images/store.png');">
				</div>
			</a>
			<div class="weui_media_bd">
				<a href="${ctxw}/store/index.htm?storeId={{d.storeId}}">
					<p class="p-name">{{d.name}}</p>
				</a>
				<p class="p-price">描述：4.9 服务：4.8 物流：5.0</p>
			</div>
		</div>
	</script>
	<script type="text/template" id="noList_Tpl" info="没有收藏模板">
		<div class="noList-div">
			<div class="icon icon-xiaoxi1"></div>
			<span>暂时还没有收藏店铺哦~</span>
		</div>
	</script>
</body>
</html>