<!DOCTYPE html>
<html lang="zh-CN" style="min-width: 345px;">
<head>
<% include("/include/head.html"){}%>
<!-- 业务js -->
<script type="text/javascript" src="${ctx}/views/front/english/custom/login.js"></script>
<link rel="stylesheet" href="${ctx}/views/front/english/css/style.css"/>
<style>
	.sui-nav.nav-tabs:after, .sui-nav.nav-pills:after{display:none;}
</style>
</head>
<body class="ajax-login-body bg-f6f6f6" style="min-width: 345px;">
<div class="sso-main" style="height:362px;">
	<div class="order-tabs sso-login-box" style="float:none; clear:both; margin:auto; height:340px; min-height:340px;">
	 <ul class="sui-nav nav-tabs">
		 <%
		 	var accountLogin =fy.getMsg({key:'账号登录'});
		 	var phoneLogin =fy.getMsg({key:'手机登录'});
		 %>
		<li class="active"><a href="#aaa" data-toggle="tab">${accountLogin!}</a></li>
		<!--<li class="line"></li>
		<li class=""><a href="#bbb" data-toggle="tab">${phoneLogin!}</a></li>-->
	 </ul>
	<div class="tab-content pl20 pr20">
		<div class="tab-content">
			<%
				var pleaseAccount =fy.getMsg({key:'请输入会员帐号'});
				var pleasePassword =fy.getMsg({key:'请输入密码'});
				var rememberMe =fy.getMsg({key:'记住我（公共场所慎用）'});
				var pleasePhone =fy.getMsg({key:'请输入手机号码'});
				var pleaseCode =fy.getMsg({key:'请输入验证码'});
				var code =fy.getMsg({key:'验证码'});
				var sendCode =fy.getMsg({key:'发送验证码'});
				var loginButton =fy.getMsg({key:'登录'});
			%>
			<div id="aaa" class="tab-pane active">
				<ul id="all" class="tab-pane active table-css">
					<label class="control-label label-name"><i class="icon"></i>
						<input type="text" name="loginName" id="loginName1" class="input-username" placeholder="${pleaseAccount!}" style="font-weight: normal;">
					</label>
					<label class="control-label label-password"><i class="icon"></i>
						<input type="password" name="password" id="password1" class="input-password" placeholder="${pleasePassword!}" style="font-weight: normal;">
					</label>
					<label class="control-label"><input type="button" class="input-ok input-ok1" value="${loginButton!}" style="font-weight: normal;"/></label>
					<div class="block-h20" style="margin-top: 10px;">
						<div class="textl"><input type="checkbox" class="checkbox" value="1" name="rememberMe" id="rememberMe" style="display:inline-block;"> ${rememberMe!}</div>
					</div>
				</ul>
			</div>
			<!--<div id="bbb" class="tab-pane">
				<ul id="payment" class="tab-pane">
					<label class="control-label label-mobile"><i class="icon"></i>
						<input type="text" name="loginName" id="loginName2" class="input-mobile" placeholder="${pleasePhone!}" value="">
					</label>
					<label class="control-label label-code"><i class="icon"></i>
						<input type="text" id="validateCode2" name="validateCode" class="input-Code" placeholder="${pleaseCode!}">
						<a id="refresh" href="javascript:" onclick="$('.input-Code-img').attr('src','${ctx}/servlet/validateCodeServlet?'+new Date().getTime());" 
						class="mid validateCodeRefresh">
						<img src="${ctx}/servlet/validateCodeServlet" id="validate_map" title="${code!}" class="input-Code-img"></a>
					</label>
					<label class="control-label label-code"><i class="icon"></i>
						<input type="text" id="password2" name="password" class="input-Code" placeholder="${pleaseCode!}" value="">
						<a id="smsSender" href="javascript:void(0);" class="post-code">${sendCode!}</a>
					</label>
					<label class="control-label">
						<input type="button" class="input-ok input-ok2" value="${loginButton!}"/>
					</label>
				</ul>
			</div>-->
			<div class="api-login">
				<%
					var signupnow =fy.getMsg({key:'立即注册'});
					var forgetPassword =fy.getMsg({key:'忘记密码'});
				%>
				<div class="reg" style="float: left;">
					<a href="${ctxsso}/register/save1.htm"><i class="regicon"></i>${signupnow!}</a>
				</div>
				<div class="reg">
					<a href="${ctxsso}/forgetPassWord/save1.htm"><i class="regicon"></i>${forgetPassword!}</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<% include("/include/foot.html"){}%>
</body>
</html>