<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thematic</title>
    <% include("/include/head.html"){}%>
    <link rel="stylesheet" type="text/css" href="${ctx}/views/front/english/css/special.css">
</head>
<body>
    <!-- 引入header -->
    <% include("/include/header.html"){}%>
    <div class="banner_wrap">
        <div class="banner_content">
            <div class="content_text">
                <h1 class="h1">
                    <p class="text_1">Over 9,000 booths of the latest products!</p>
                    <p class="text_2"> Specialized trade fairs in Hong Kong</p>
                </h1>
                <h2 class="h2">
                    <p>
                        Electronics
                        <span class="line">|</span>
                        Lifestyle (Gifts & Home)
                        <span class="line">|</span>
                        Fashion
                    </p>
                </h2>
                <h2 class="h2">
                    <p>
                        April 2020
                        <span class="line">|</span>
                        AsiaWorld-Expo, Hong Kong
                    </p>
                </h2>
                <p class="bttn">
                    <a href="javascript:;">Register Now</a>
                </p>
            </div>
        </div>
        <img class="banner_img" src="${ctx}/views/front/english/images/banner_index.jpeg" alt="">
    </div>

    <div class="main">
        <div class="main_content clearfixx">
            <div class="content_item">
                <div class="item_img">
                    <img src="${ctx}/views/front/english/images/logo.png" alt="">
                </div>
                <p class="date">April 11-14, 2020</p>
                <p class="intro">4,000 booths of consumer electronics, home audio, components.</p>
            </div>
            <div class="content_item">
                <div class="item_img">
                    <img src="${ctx}/views/front/english/images/logo.png" alt="">
                </div>
                <p class="date">April 18-21, 2020</p>
                <p class="intro">The world’s only mobile electronics sourcing show, with 3,800 booths of devices, AR/VR, wearables & accessories, smart living products, plus Startup Launchpad (Hall 11) and the </p>
            </div>
            <div class="content_item">
                <div class="item_img">
                    <img src="${ctx}/views/front/english/images/logo.png" alt="">
                </div>
                <p class="date">April 27-30, 2020</p>
                <p class="intro">Dedicated show for design-led lifestyle products. It features today's rising and in-demand product categories – sports & outdoors, travel goods and health & beauty.</p>
            </div>
            <div class="content_item">
                <div class="item_img">
                    <img src="${ctx}/views/front/english/images/logo.png" alt="">
                </div>
                <p class="date">April 27-30, 2020</p>
                <p class="intro">Hong Kong largest fashion sourcing event. It is where sourcing pros go to for the latest designs in fashion accessories, footwear, apparel, textiles and trimmings from Verified Suppliers in China and ASEAN countries.</p>
            </div>
        </div>
    </div>
    <!-- 引入footer -->
	<% include("/include/footer.html"){}%>
</body>
<% include("/include/foot.html"){}%>
</html>