<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>入驻申请-首页</title>
<link rel="stylesheet" href="${ctx}/views/front/english/custom/storeEnterIndex_files/common.css">
<link rel="stylesheet" href="${ctx}/views/front/english/custom/storeEnterIndex_files/apply.css">
<% include("/include/head.html"){}%>
</head>
<body class="storeEnterIndexBody">
	<% include("/include/header.html"){}%>
	<!--轮播图片开始-->
	<div class="bannerBox">
		<div class="banner-slider">
			<ul class="slider-pannel" style="position: relative; width: 1920px; height: 403px;">
				<li style="position: absolute; width: 1920px; left: 0px; top: 0px; display: none;">
					<a href="javascript:void(0);" style="background:url(http://68dsw.oss-cn-beijing.aliyuncs.com/images/system/config/shop_apply_banner/shop_apply_banner_img_0.png) center center;"></a>
				</li>
				<li style="position: absolute; width: 1920px; left: 0px; top: 0px; display: list-item;">
					<a href="javascript:void(0);" style="background:url(http://68dsw.oss-cn-beijing.aliyuncs.com/images/system/config/shop_apply_banner/shop_apply_banner_img_1.png) center center;"></a>
				</li>
			</ul>
			<div class="slider-div">
				<ul class="slider-nav"><li class="">1</li><li class="selected">2</li></ul>
			</div>

			<span class="arrow-left"></span>
			<span class="arrow-right"></span>
			<p class="join-button">
				<a target="_blank" class="btn btn-primary btn-larger" href="${ctxs}/store/storeEnterAuth/verficationSeller.htm">立即入驻</a>
			</p>
		</div>
	</div>
	<!--轮播图片结束-->
	<!--问题帮助及信息公告开始-->
	<div class="index-center">
		<div class="wrapper">
			<div class="info-box">
				<div class="title">
					<p>企业采购</p>
					<div class="title-sub">企业采购是整合供货商丰富的平台...</div>
				</div>
				<a class="btn btn-primary btn-larger" href="${ctxf}/custom/customerPurchase.htm" target="_blank">企业采购</a>
			</div>
			<div class="info-box">
				<div class="title">
					<p>一张图看懂入驻流程</p>
					<div class="title-sub">入驻前先看，流程、要求一目了然</div>
				</div>
				<a class="btn btn-primary btn-larger" href="#div1">查询入驻流程</a>
			</div>
			<div class="info-box">
				<div class="title">
					<p>我的入驻进度？</p>
					<div class="title-sub">欢迎入驻本商城，了解我的入驻进度</div>
				</div>
				<a target="_blank" class="btn btn-primary btn-larger" href="${ctxs}/store/storeEnterAuth/verficationSeller.htm">查看入驻进度</a>
			</div>
			<div class="info-box info-list">
				<div class="title">
					<h2>信息公告</h2>
				</div>
				<div class="mess-list">
					<ul>
						<li>
							<a href="${ctxf}/articleDetail/1279.htm" target="_blank">购物操作流程</a>
						</li>
						<li>
							<a href="${ctxf}/articleDetail/1281.htm" target="_blank">会员介绍</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--问题帮助及信息公告结束-->
	<!--入驻流程开始-->
	<div id="div1" class="main">
		<div class="w1210">
			<!--入驻流程-->
			<p class="index-title">入驻流程</p>
			<div class="joinin-index-step">
				<span class="step one">
					<i></i>
					签署入驻协议
				</span>
				<span class="arrow"></span>
				<span class="step two">
					<i></i>
					商家信息提交
				</span>
				<span class="arrow"></span>
				<span class="step three">
					<i></i>
					平台审核资质
				</span>
				<span class="arrow"></span>
				<span class="step four">
					<i></i>
					商家缴纳费用
				</span>
				<span class="arrow"></span>
				<span class="step five">
					<i></i>
					店铺开通
				</span>
			</div>
		</div>
	</div>
	<!--入驻流程结束-->
	<!--入驻功能开始-->
	<div class="w1210 clearfix">
		<div class="main-box">
			<img src="${ctx}/views/front/english/custom/storeEnterIndex_files/14719173449098.png">
			<div class="info-content">
				<div class="sui-titlex">
					<div class="sui-title-info">企业采购</div>
				</div>
				<p>企业采购具有丰富的平台资源，为企业买家倾力打造的企业办公和福利采购的专属平台，旨在搭建一个阳...</p>
				<div class="sui-title-more">
					<a href="javaScript:;" target="_blank">查看详情 &gt;</a>
				</div>
			</div>
		</div>
		<div class="main-box">
			<img src="${ctx}/views/front/english/custom/storeEnterIndex_files/14719171950188.png">
			<div class="info-content">
				<div class="sui-titlex">
					<div class="sui-title-info">商家品控</div>
				</div>
				<p>想知道行业标准？想了解品控动向？想学习优秀商家？快快关注商家品控吧，你所需要的合规信息统统都在这里！</p>
				<div class="sui-title-more">
					<a href="javaScript:;" target="_blank">查看详情 &gt;</a>
				</div>
			</div>
		</div>
		<div class="main-box">
			<img src="${ctx}/views/front/english/custom/storeEnterIndex_files/14719172384513.png">
			<div class="info-content">
				<div class="sui-titlex">
					<div class="sui-title-info">运营服务</div>
				</div>
				<p>运营服务商为您托管店铺运营业务，省心省力。 主要服务为 店铺开店，商品拍摄， 店铺装修，店铺运营， 客户服...</p>
				<div class="sui-title-more">
					<a href="javaScript:;" target="_blank">查看详情 &gt;</a>
				</div>
			</div>
		</div>
		<div class="main-box">
			<img src="${ctx}/views/front/english/custom/storeEnterIndex_files/14719175546029.png">
			<div class="info-content">
				<div class="sui-titlex">
					<div class="sui-title-info">入驻小帮手</div>
				</div>
				<p>查一查、入驻材料、资费马上知道</p>
				<div class="sui-title-more">
					<a href="javaScript:;" target="_blank">查看详情 &gt;</a>
				</div>
			</div>
		</div>
	</div>
	<!--入驻功能结束-->
	<script type="text/javascript" src="${ctx}/views/front/english/custom/storeEnterIndex_files/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="${ctx}/views/front/english/custom/storeEnterIndex_files/jquery.superslide.2.1.1.js"></script>
	<script type="text/javascript" src="${ctx}/views/front/english/custom/storeEnterIndex_files/common.js"></script>
	<script type="text/javascript" src="${ctx}/views/front/english/custom/storeEnterIndex_files/apply_index.js"></script>
	<% include("/include/footer.html"){}%>
	<% include("/include/foot.html"){}%>
	<% include("/include/tool-right.html"){}%>
</body>
</html>