<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
	default-lazy-init="true">
	<description>工厂 Configuration</description>
	

	<!-- 文件存储接口,本地存储 -->
	<!--
	<bean id="fileSystem" class="com.sicheng.upload.fileStorage.FileStorageLocalFile"></bean>
	-->

	<!-- 文件存储接口,阿里云oss,用于存储图片 -->
<!--	<bean id="fileSystem" class="com.sicheng.upload.fileStorage.FileStorageAliyunOss">-->
<!--		<property name="accessKeyId" value="${fileStorage.aliOss.accessKeyId}"/>-->
<!--		<property name="accessKeySecret" value="${fileStorage.aliOss.accessKeySecret}"/>-->
<!--		<property name="bucketName" value="${fileStorage.aliOss.bucketName}"/>&lt;!&ndash; 桶 &ndash;&gt;-->
<!--		<property name="endpoint" value="${fileStorage.aliOss.endpoint}"/>-->
<!--		<property name="folder" value="${fileStorage.aliOss.folder}"/> &lt;!&ndash; 隔离文件夹 &ndash;&gt;-->
<!--	</bean>-->

	<!-- 文件存储接口,Minio自建了一个S3对象储存,用于存储图片 -->
	<bean id="fileSystem" class="com.sicheng.upload.fileStorage.FileStorageMinio">
		<property name="accessKeyId" value="${fileStorage.Minio.accessKeyId}"/>
		<property name="accessKeySecret" value="${fileStorage.Minio.accessKeySecret}"/>
		<property name="bucketName" value="${fileStorage.Minio.bucketName}"/>
		<property name="endpoint" value="${fileStorage.Minio.endpoint}"/>
		<property name="folder" value="${fileStorage.Minio.folder}"/> <!-- 隔离文件夹 -->
	</bean>	

	<!-- 图片处理接口,GM版图片处理(依赖GraphicsMagick,需要在操作系统是单独安装GM程序,并通过命令行调用GM)	-->
<!--	<bean id="imageProcess" class="com.sicheng.upload.thumbnail.impl.ImageProcessGMImpl"></bean>-->
	<!-- 图片处理接口,Thumbnails版图片处理 (Thumbnailator 是一个优秀的图片处理的Google开源Java类库，可运行于OpenJdk8\11\17) -->
	<bean id="imageProcess" class="com.sicheng.upload.thumbnail.impl.ImageProcessTHImpl"></bean>
	<!-- 图片处理接口,SimpleImage版图片处理  (阿里巴巴 simpleimage 图片处理工具类，必须使用Oracle JDK8,不能使用OpenJDK8否则报某类找不到) -->
<!--	<bean id="imageProcess" class="com.sicheng.upload.thumbnail.impl.ImageProcessSIImpl"></bean>-->
	 
</beans>