<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<% var seo=seo.one({type:"商品详情"});%>
<title>${seo.title!} Powered by SiC</title>
<meta name="Keywords" content="${seo.keywords!}"/>
<meta name="description" content="${seo.description!}"/>
<% include("/include/head.html"){}%>
<!-- 业务js -->
<script type="text/javascript" src="${ctx}/views/front/default/productDetail.js"></script>
<script type="text/javascript" src="${ctx}/views/front/default/collection.js"></script>
<script type="text/javascript" src="${ctxStatic}/fdp/manager.js"></script>
<!--图片放大控件-->
<script type="text/javascript" src="${ctxStatic}/sicheng-seller/js/jquery.magnific-popup.min.js"></script>
<link rel="stylesheet" type="text/css" href="${ctxStatic}/sicheng-seller/css/magnific-popup.css">
<style>
	.storetype-1{
		margin-top: -2px;
		display: inline-block;
		margin-left: 5px;
		vertical-align: middle;
		width: 10px;
		height: 16px;
		background: url(${ctx}/views/front/default/images/store_ico.gif) no-repeat;}
	.storetype-2{
		margin-top: -2px;
		display: inline-block;
		margin-left: 5px;
		vertical-align: middle;
		width: 44px;
		height: 16px;
		background: url(${ctx}/views/front/default/images/store_ico.gif) center no-repeat;}
	.storetype-3{
		margin-top: -2px;
		display: inline-block;
		margin-left: 5px;
		vertical-align: middle;
		width: 44px;
		height: 16px;
		background: url(${ctx}/views/front/default/images/store_ico.gif) bottom  no-repeat;}
</style>
</head>
<body class="productDetailBody">
	<% 
		var product=product.one({pid:pid!});
		var category=product.category({cid:product.categoryId!});
		var cateList=[];
		if(category!=null){
			var cids=strutil.split(category.parentIds!,",");
			for(cid in cids){
				var cate=product.category({cid:cid});
				if(cate!=null){
					array.add(cateList,cate);
				}
			}
			array.add(cateList,category);
		}
		var user=user.current();
		var skuList=product.productSkuList!;
		var sid=product.storeId!;
		var storeOne = store.one({sid:sid});
		var pid = pid!;
		var deliverGoodsDate='卖家承诺48小时内发货';
		if(isNotEmpty(product.deliverGoodsDate!)){
			if((product.deliverGoodsDate!) =="11"){
				deliverGoodsDate=dict.label({value:product.deliverGoodsDate!, type:'product_deliver_goods_date'});
			}else{
				deliverGoodsDate="卖家承诺"+dict.label({value:product.deliverGoodsDate!, type:'product_deliver_goods_date'})+"发货";
			}
		}
	%>
	<script type="text/javascript">
		//var user='${user}';
		var skuList=[];
		skuList=${product.productSkuJsonList!};
		var pid=${pid!};
		var storeId=${sid};
	</script>
	<% include("/include/header.html"){}%>
	<% if(isEmpty(pid!) || isEmpty(product)){ %>
		<% include("/include/nav.html"){}%>
		<div class="error_div">
			<div class="error_msg">
				<p>抱歉，商品不存在，请查看其他的商品！</p>
				<p><a href="${ctxf}/index.htm">(1) 返回首页</a></p>
				<p><a href="javascript:" onclick="history.go(-1);">(2) 返回上一页</a></p>
			</div>
		</div>
	<%}else{%>
		<% include("/include/header-store.html",{'storeOne':storeOne,'sid':sid}){}%>
		<div class="crumbs bg-f2f3f7">
			<div class="wp">
				<div class="store-info">
					<span>
						<% if(product.store.storeType=='1'){ %>
						<span class="storetype-3"></span>
						<%}%>
						<% if(product.store.storeType=='2'){ %>
						<span class="storetype-2"></span>
						<%}%>
						<% if(product.store.storeType=='3'){ %>
						<span class="storetype-1"></span>
						<%}%>
						${storeOne.name!}
					</span>
					<span><a href="#">联系供应商</a></span><span>
					<a href="javascript:void(0);" class="collectionStore" storeId=${sid!}>收藏店铺</a></span>
					<span>店铺评分：</span><span class="comment-star-1 ${storeOne.storeAnalyze.starLevel!}"></span>
				</div>
				<span>
					<% for(cate in cateList){%>
						${cate.name!} &gt;
					<%}%>
				</span>
				${product.name!}
			</div>
		</div>
		<!-- 商品详细信息开始 -->
		<form action="${ctxf}/trade/order/confirmOrder.htm" id="productFrom" method="post">
			<sys:message content="${message!}"/>
			<input type="hidden" name="pId" value="${pid!}" id="pId"/>
			<input type="hidden" name="skuMsg" class="skuMsg" value=""/>
			<input type="hidden" name="userSellerId" class="" value="${product.uId!}"/>
			<input type="hidden" name="userMemberId" class="" value="${user.uId!}"/>
			<input type="hidden" name="totalNum" class="" value=""/>
			<input type="hidden" name="purchasingAmount" value="${product.purchasingAmount!}"/>
			<div class="wp goods-view mt30">
				<!-- 商品图片开始 -->
				<div class="goods-intro">
					<div class="preview-wrap">
						<div>
							<div id="preview" class="spec-preview"> 
								<span class="jqzoom">
									<% for(imgMapping in product.productPictureMappingList!){%>
										<%if(imgMappingLP.first){%>
											<img jqimg="${ctxfs}/${imgMapping.storeAlbumPicture.path!}" src="${ctxfs}/${imgMapping.storeAlbumPicture.path!}@!438x438"
											onerror="fdp.defaultImage('${ctxStatic}/images/default_goods.png');"/>
										<%}%>
									<%}%>
								</span> 
							</div>
							<!--缩图开始-->
							<div class="spec-scroll"> 
								<a class="prev"><img src="${ctx}/views/front/default/images/disabled-prev.png"></a> 
								<a class="next"><img src="${ctx}/views/front/default/images/disabled-next.png"></a>
								<div class="items">
									<ul>
										<% for(imgMapping in product.productPictureMappingList!){%>
											<li class="${imgMappingLP.first?'cur':''}">
												<img alt="" bimg="${ctxfs}${imgMapping.storeAlbumPicture.path!}" color="${imgMapping.color}" picId="${imgMapping.storeAlbumPicture.pictureId!}" 
												src="${ctxfs}${imgMapping.storeAlbumPicture.path!}@!72x72" onerror="fdp.defaultImage('${ctxStatic}/images/default_goods.png');">
											</li>
										<%}%>
									</ul>
								</div>
							</div>
							<!--缩图结束-->
						</div>
					</div>
					<div class="goods-share" style="padding-top:0;">
						<div class="bdsharebuttonbox bdshare-button-style0-24" style="padding-left:0;margin-top:40px;" data-bd-bind="1506317168436">
							<a href="javaScript:void(0);" class="fav collectionProduct" pid="${pid!}" style="background-image:none; padding-left:0"><i class="sui-icon icon-tb-likefill"></i> 收藏</a>
							<a href="javaScript:void(0);" class="bds_more" data-cmd="more" style="background-image:none; padding-left:0"><i class="sui-icon icon-tb-share"></i> 分享</a>
						</div>
<!--						<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];-->
<!--						</script>-->
					</div>
				</div>
				<!-- 商品图片结束 -->
				<!--商品信息开始-->
				<% if((isNotEmpty(user) && user.isTypeUserPurchaser! && product.type!="1")|| (product.type!) =="2"){%>
					<!-- 批发商品开始 -->
					<div class="goods-info-1">
						<input type="hidden" name="type" value="2">
						<div class="sku-name">${product.name!}</div>
						<div class="sub-name">${product.nameSub!}</div>
						<div class="summary-price">
							<ul>
								<li class="dt"><strong>批发价</strong><span>起购量</span></li>
								<% for(section in product.productSectionPriceList!){
									if(!sectionLP.last){%>
										<li class="con${sectionLP.index}">
											<strong><small>¥</small>${section.price!}</strong>
											<span>${section.section!} ~ ${parseLong(product.productSectionPriceList[sectionLP.index].section!)-1} ${product.unit!}</span>
										</li>
									<%}else{%>
										<li class="con${product.productSectionPriceList.~size}">
											<strong><small>¥</small>${section.price!}</strong>
											<span>≥ ${section.section!} ${product.unit!}</span>
										</li>
									<%}
								}%>
							</ul>
						</div>
						<div class="summary">
							<% if((product.type!) =="3"){%>
								<div class="summary-def summary-total">
									<span class="dt">零&nbsp;&nbsp;售&nbsp;价：</span><span class="dd"><small>¥</small>${product.minPrice1!}</span>
								</div>
							<%}%>
							<div class="summary-def summary-total">
								<span class="dt">优惠：</span><span class="dd" id="benefit">${isNotEmpty(product.benefit!)?product.benefit!:'无'}</span>
							</div>
							<div class="summary-def summary-deliver">
								<span class="dt">发货期限：</span><span class="dd">${deliverGoodsDate!}</span>
							</div>
							<div class="summary-def summary-freight" id="summary-freight" style="display: inline-block;">
								<span class="dt logistics">销售区域：</span>
								<span class="dd">
									<div class="wl">
										<dl class="goods-wl">
											<dt class="box-header noborder areaTabs">
												<% var address;
												if(isNotEmpty(user)){
													var addressList=user.addressList({uid:user.uId}); 
													if(isNotEmpty(addressList)){
														address=addressList[0];
													}
												}%>
												<ul class="sui-nav nav-tabs" style="width: auto;">
													<li class="active provinceTab">
														<input type="hidden" name="provinceId" value="${(address.provinceId!)!=null?address.provinceId:''}"/>
														<a href="#wl-1-1" data-toggle="tab">${(address.provinceName!)!=null?address.provinceName:'省'}</a>
													</li>
													<li class="cityTab" style="display: none;" >
														<input type="hidden" name="cityId" value="${(address.cityId!)!=null?address.cityId:''}"/>
														<a href="#wl-1-2" data-toggle="tab">${(address.cityName!)!=null?address.cityName:'市'}</a>
													</li>
													<li class="districtTab" style="display: none;">
														<input type="hidden" name="districeId" value="${(address.districtId!)!=null?address.districtId:''}"/>
														<a href="#wl-1-3" data-toggle="tab">${(address.districtName!)!=null?address.districtName:'县/区'}</a>
													</li>
												</ul>
											</dt>
											<dd>
												<div class="tab-content areaMsg">
													<div id="wl-1-1" class="tab-pane active provincePane">
														<ul class="wl-list">
															<% for(province in area.list({parentId:1,limit:35})){ %>
																<li id="${province.id}"><a href="javascript:">${province.name!}</a></li>
															<%}%>
														</ul>
													</div>
													<div id="wl-1-2" class="tab-pane cityPane">
														<ul class="wl-list">
														</ul>
													</div>
													<div id="wl-1-3" class="tab-pane districtPane">
														<ul class="wl-list">
														</ul>
													</div>
												</div>
											</dd>
										</dl>
									</div>
									<p class="adds">配送至
										<span class="sendAddress" pid="${pid}">
											<span>${address.provinceName!} ${address.cityName!} ${address.districtName!} </span> 
											<i class="sui-icon icon-tb-unfold"></i>
										</span>
										<input type="hidden" name="provinceId" class="provinceId" value="${(address.cityId!)!=null?address.cityId:''}"/>
										<input type="hidden" name="cityId" class="cityId" value="${(address.cityId!)!=null?address.cityId:''}"/>
										<input type="hidden" name="districeId" class="districtId" value="${(address.districtId!)!=null?address.districtId:''}"/>
									</p>
									<strong class="sendProduct">有货</strong>
								</span>
							</div>
							<div class="summary-sales">
								<span class="dt">销售情况：</span><span class="dd">
									累计评价：${(product.commentCount!)!=null?product.commentCount!:'0'}　　
									累计销量：${(product.allSales!)!=null?product.allSales!:'0'} ${product.unit!}    　
									累计收藏：${(product.collectionCount!)!=null?product.collectionCount!:'0'}　
								</span>
							</div>
							<div class="summary-attrs-1">
								<%if(isNotEmpty(skuList)){
									var sku1=skuList[0];%>
									<span class="dt">选择规格：</span>
									<span class="dd">
										<ul class="th">
											<% if((skuList[0].spec1!)!=null){ %>
												<li class="con1">${strutil.split(skuList[0].spec1,"_")[1]}</li>
											<%}%>
											<% if((skuList[0].spec2!)!=null){ %>
												<li class="con2">${strutil.split(skuList[0].spec2,"_")[1]}</li>
											<%}%>
											<% if((skuList[0].spec3!)!=null){ %>
												<li class="con3">${strutil.split(skuList[0].spec3,"_")[1]}</li>
											<%}%>
											<li class="con4">价格</li>
											<li class="con5">库存</li>
											<li class="con9">购买数量</li>
										</ul>
									</span>
									<span class="dd summary-list-box summary-list-box-section sectionSpec">
										<% for(sku in skuList){ %>
											<ul>
												<% if((sku.spec1V!)!=null){ %>
													<li class="con1">${sku.spec1V}</li>
												<%}%>
												<% if((sku.spec2V!)!=null){ %>
													<li class="con2">${sku.spec2V}</li>
												<%}%>
												<% if((sku.spec3V!)!=null){ %>
													<li class="con3">${sku.spec3V}</li>
												<%}%>
												<li class="con4 sectionPrice"><span class="sectionPriceFront">${product.maxPrice2!}</span>元</li>
												<li class="con5">${sku.stock!}${isNotEmpty(product.unit!)?product.unit!:'件'}可售</li>
												<li class="con9">
													<div class="input-number" id="section">
														<div class="btn">
															<a class="r" isSection="section"> - </a>
															<div class="input">
																<input id="txt" type="text" value="${skuList.~size==1 && isNotEmpty(product.purchasingAmount!)?product.purchasingAmount!:0}" class="buyNum" stock="${sku.stock!}" skuId="${sku.skuId!}" isSection="section"/>
															</div>
															<a class="l" stock="${sku.stock!}" isSection="section"> + </a>
														</div>
													</div>
												</li>
											</ul>
										<%}%>
									</span>
								<%}%>
							</div>
						</div>
						<div class="buy-btn">
							<a href="javascript:void(0);" class="addOrder buyNow" type="2">立即购买</a>
							<a href="javascript:void(0);" class="addCart" type="2">加入购物车</a>
						</div>
						<div class="summary-text">
							<span class="dt">温馨提示：</span><span class="dd">1、支持15天无理由退换货；2、在线支付订单需在24小时内支付，否则订单将被取消；</span>
							<span class="dt">交易保障：</span>
							<ul class="dd infoli">
								<li><p>当面交易<br>货到付款</p><strong>交易方式 <i class="sui-icon icon-tb-unfold"></i></strong></li>
								<li>
									<p>
										<% for(payWay in trade.payWayList()){ %>
											${payWay.name!}
											<% if(!payWayLP.last){%>
												<br>
											<%}%>
										<%}%>
									</p>
									<strong>支付方式 <i class="sui-icon icon-tb-unfold"></i></strong>
								</li>
							</ul>
						</div>
					</div>
					<!-- 批发商品结束 -->
				<%}else{%>
				<!--零售商品信息开始-->
				<div class="goods-info-1">
					<input type="hidden" name="type" value="1">
					<div class="sku-name">${product.name!}</div>
					<div class="sub-name">${product.nameSub!}</div>
					<div class="summary">
						<div class="summary-def">
							<span class="dt">单价：</span>
							<span class="dd Pirce-def">
								<small>¥</small><span class="tqm_Pirce">${product.minPrice1!}</span>
							</span>
						</div>
						<div class="wholesale"></div>
						<div class="summary-def summary-total">
							<% var totalStock=0;
							if(isNotEmpty(skuList)){
								for(sku in skuList){
									totalStock=totalStock+parseLong(isEmpty(sku.stock!)?0:sku.stock!);
								}
							}%>
							<span class="dt">供应总量：</span><span class="dd">${totalStock} ${isNotEmpty(product.unit!)?product.unit!:'件'}</span>
						</div>
						<div class="summary-def summary-total">
							<span class="dt">优惠：</span><span class="dd" id="benefit">${isNotEmpty(product.benefit!)?product.benefit!:'无'}</span>
						</div>
						<div class="summary-def summary-deliver">
							<span class="dt">发货期限：</span><span class="dd">${deliverGoodsDate!}</span>
						</div>
						<div class="summary-def summary-freight" id="summary-freight" style="display: inline-block;">
							<span class="dt logistics">销售区域：</span>
							<span class="dd">
								<div class="wl">
									<dl class="goods-wl">
										<dt class="box-header noborder areaTabs">
											<% var address2;
											if(user!=null){
												var addressList=user.addressList({uid:user.uId}); 
												if(isNotEmpty(addressList)){
													address2=addressList[0];
												}
											}%>
											<ul class="sui-nav nav-tabs">
												<li class="active provinceTab">
													<input type="hidden" name="provinceId" value="${(address2.provinceId!)!=null?address2.provinceId:''}"/>
													<a href="#wl-1-1" data-toggle="tab">${(address2.provinceName!)!=null?address2.provinceName:'省'}</a>
												</li>
												<li class="cityTab" style="display: none;" >
													<input type="hidden" name="cityId" value="${(address2.cityId!)!=null?address2.cityId:''}"/>
													<a href="#wl-1-2" data-toggle="tab">${(address2.cityName!)!=null?address2.cityName:'市'}</a>
												</li>
												<li class="districtTab" style="display: none;">
													<input type="hidden" name="districeId" value="${(address2.districtId!)!=null?address2.districtId:''}"/>
													<a href="#wl-1-3" data-toggle="tab">${(address2.districtName!)!=null?address2.districtName:'县/区'}</a>
												</li>
											</ul>
										</dt>
										<dd>
											<div class="tab-content areaMsg">
												<div id="wl-1-1" class="tab-pane active provincePane">
													<ul class="wl-list">
														<% for(province in area.list({parentId:1,limit:35})){ %>
															<li id="${province.id}"><a href="javascript:">${province.name!}</a></li>
														<%}%>
													</ul>
												</div>
												<div id="wl-1-2" class="tab-pane cityPane">
													<ul class="wl-list">
													</ul>
												</div>
												<div id="wl-1-3" class="tab-pane districtPane">
													<ul class="wl-list">
													</ul>
												</div>
											</div>
										</dd>
									</dl>
								</div>
								<p class="adds">配送至
									<span class="sendAddress" pid="${pid!}">
										<span>${address2.provinceName!} ${address2.cityName!} ${address2.districtName!}</span> 
										<i class="sui-icon icon-tb-unfold"></i>
									</span>
									<input type="hidden" name="provinceId" class="provinceId" value="${(address2.provinceId!)!=null?address2.provinceId:''}"/>
										<input type="hidden" name="cityId" class="cityId" value="${(address2.cityId!)!=null?address2.cityId:''}"/>
										<input type="hidden" name="districeId" class="districtId" value="${(address2.districtId!)!=null?address2.districtId:''}"/>
								</p>
								<strong class="sendProduct">有货</strong>
							</span>
						</div>
						<div class="summary-sales">
							<span class="dt">销售情况：</span><span class="dd">
								累计评价：${(product.commentCount!)!=null?product.commentCount!:'0'}　　
								累计销量：${(product.allSales!)!=null?product.allSales!:'0'} ${product.unit!}    　
								累计收藏： ${(product.collectionCount!)!=null?product.collectionCount!:'0'}
							</span>
						</div>
						<% var spec1="";
						var spec2="";
						var spec3="";
						var spec1VList=[];
						var spec2VList=[];
						var spec3VList=[];
						if(isNotEmpty(skuList)){
							var sku1=skuList[0];
							if(isNotEmpty(sku1.spec1!)){
								if(strutil.split(sku1.spec1,"_").~size>1){
									spec1=strutil.split(sku1.spec1,"_")[1];
								}
							}
							if(isNotEmpty(sku1.spec2!)){
								if(strutil.split(sku1.spec2,"_").~size>1){
									spec2=strutil.split(sku1.spec2,"_")[1];
								}
							}
							if(isNotEmpty(sku1.spec3!)){
								if(strutil.split(sku1.spec3,"_").~size>1){
									spec3=strutil.split(sku1.spec3,"_")[1];
								}
							}
							
							for(sku in skuList){
								if(isNotEmpty(sku.spec1V!)){
									if(!array.contain(spec1VList,sku.spec1V!)){
										array.add(spec1VList,sku.spec1V!);
									}
								}
								if(isNotEmpty(sku.spec2V!)){
									if(!array.contain(spec2VList,sku.spec2V!)){
										array.add(spec2VList,sku.spec2V!);
									}
								}
								if(isNotEmpty(sku.spec3V!)){
									if(!array.contain(spec3VList,sku.spec3V!)){
										array.add(spec3VList,sku.spec3V!);
									}
								}
							}
						}%>
						<div class="summary-attrs">
							<%if(isNotEmpty(spec1)){%>
								<span class="dt">${spec1}：</span>
								<%if(isNotEmpty(spec1VList)){%>
									<span class="dd specdd">
										<%for(spec1V in spec1VList){%>
											<label class="radio-pretty ${spec1VLP.first?'checked':''}">
												<input type="radio" name="radio"><b></b>
												<% var flag=true;
													for(mapping in product.productPictureMappingList!){
														if(mapping.color==spec1V){
															if(flag){
																flag=false;%>
																<div class="specImage" style="background-image:url(${ctxfs}${mapping.storeAlbumPicture.path!}@!40X40)" picId="${mapping.storeAlbumPicture.pictureId!}" class="specImage" src1="${mapping.storeAlbumPicture.path!}" ></div>
																<img src="${ctxfs}${mapping.storeAlbumPicture.path!}@!40X40" picId="${mapping.storeAlbumPicture.pictureId!}" class="specImage" onerror="fdp.defaultImage('${ctxStatic}/images/default_goods.png');" src1="${mapping.storeAlbumPicture.path!}" alt=""/>
																<% break;
															}
														}
													}
												%>
												<font>${spec1V}</font>
											</label>
										<%}%>
										<div class="clear"></div>	
									</span>
								<%}%>
							<%}%>
						<!-- </div>
						<div class="summary-attrs"> -->
							<%if(isNotEmpty(spec2)){%>
								<span class="dt">${spec2}：</span>
								<%if(isNotEmpty(spec2VList)){%>
									<span class="dd specdd">
										<%for(spec2V in spec2VList){%>
											<label class="radio-pretty ${spec2VLP.first?'checked':''}">
												<input type="radio" name="radio1"><b></b>
												<% var flag=true;
													for(mapping in product.productPictureMappingList!){
														if(mapping.color==spec2V){
															if(flag){
																flag=false;%>
																<div class="specImage" style="background-image:url(${ctxfs}${mapping.storeAlbumPicture.path!}@!40X40)" picId="${mapping.storeAlbumPicture.pictureId!}" class="specImage" src1="${mapping.storeAlbumPicture.path!}" ></div>
																<img src="${ctxfs}${mapping.storeAlbumPicture.path!}@!40X40"  picId="${mapping.storeAlbumPicture.pictureId!}"
																	class="specImage" onerror="fdp.defaultImage('${ctxStatic}/images/default_goods.png');" src1="${mapping.storeAlbumPicture.path!}" alt=""/>
																<% break;
															}
														}
													}
												%>
												<font>${spec2V}</font>
											</label>
										<%}%>	
									</span>
								<%}%>
							<%}%>
						<!-- </div>
						<div class="summary-attrs"> -->
							<%if(isNotEmpty(spec3)){%>
								<span class="dt">${spec3}：</span>
								<%if(spec3VList!=null){%>
									<span class="dd specdd">
										<%for(spec3V in spec3VList){%>
											<label class="radio-pretty ${spec3VLP.first?'checked':''}">
												<input type="radio" name="radio2"><b></b>
												<% var flag=true;
													for(mapping in product.productPictureMappingList!){
														if(mapping.color==spec3V){
															if(flag){
																flag=false;%>
																<div class="specImage" style="background-image:url(${ctxfs}${mapping.storeAlbumPicture.path!}@!40X40)" picId="${mapping.storeAlbumPicture.pictureId!}" class="specImage" src1="${mapping.storeAlbumPicture.path!}" ></div>
																<img src="${ctxfs}${mapping.storeAlbumPicture.path!}@!40X40"  picId="${mapping.storeAlbumPicture.pictureId!}"
																	class="specImage" onerror="fdp.defaultImage('${ctxStatic}/images/default_goods.png');" src1="${mapping.storeAlbumPicture.path!}" alt=""/>
																<% break;
															}
														}
													}
												%>
												<font>${spec3V}</font>
											</label>
										<%}%>	
									</span>
								<%}%>
							<%}%>
						</div>
						<div class="summary-attrs summary-attrs-1 summary-number" style="display:inline">
							<span class="dt">数量：</span>
							<span class="dd specdd">
								<div class="input-number" id="retail">
									<div class="input">
										<input id="txt" type="text" value="${isNotEmpty(product.purchasingAmount!)?product.purchasingAmount!:1}"  class="buyNum" stock="${isNotEmpty(skuList)?skuList[0].stock!:''}"/>
									</div>
									<div class="btn">
										<a class="l" stock="${isNotEmpty(skuList)?skuList[0].stock!:''}"> + </a>
										<a class="r"> - </a>
									</div>
									<span>
										库存<span class="skuStock">${isNotEmpty(skuList)?skuList[0].stock:''}</span>${isNotEmpty(product.unit!)?product.unit!:'件'} (起购量${product.type=='3'?'1':product.purchasingAmount!}${isNotEmpty(product.unit!)?product.unit!:'件'})
										<span class="isHasStock"></span>
										<input type="hidden" name="skuId" class="skuId" value="${isNotEmpty(skuList)?skuList[0].skuId!:''}">
									</span>
								</div>
							</span>
						</div>
					</div>
					<div class="buy-btn">
						<a href="javascript:void(0)" class="addOrder buyNow" type="1">立即购买</a>
						<a href="javascript:void(0)" class="addCart" type="1">加入购物车</a>
					</div>
					<div class="summary-text">
						<span class="dt">温馨提示：</span><span class="dd">1、支持15天无理由退换货；2、在线支付订单需在24小时内支付，否则订单将被取消；</span>
						<span class="dt">交易保障：</span>
						<ul class="dd infoli">
							<li><p>当面交易<br>货到付款</p><strong>交易方式 <i class="sui-icon icon-tb-unfold"></i></strong></li>
							<li>
								<p>
									<% for(payWay in trade.payWayList()){ %>
										${payWay.name!}
										<% if(!payWayLP.last){%>
											<br>
										<%}%>
									<%}%>
								</p>
								<strong>支付方式 <i class="sui-icon icon-tb-unfold"></i></strong>
							</li>
						</ul>
					</div>
				</div>
				<%}%>
				<!--零售商品信息结束-->
			</div>
		</form>
		<!-- 商品详细信息结束 -->
		<!--goods-view end-->
		<div class="wp selected-box mt20 mt70">
			<div class="title"><span></span>热卖橱窗</div>
			<div class="scroll-outer">
				<div id="scroll-cc" class="owl-carousel">
					<% var productMap=product.list({sid:sid,sort:"allSales",sortMode:"desc",limit:10});
					for(p in productMap["search"].items){%>
						<div class="item">
							<div class="p-picture"style="line-height: 200px;">
								<a target="_blank" href="${ctxf}/detail/${p.pId}.htm">
									<img src="${ctxfs}/${p.image!}@!200X200" onerror="fdp.defaultImage('${ctxStatic}/images/default_goods.png');"/>
								</a>
							</div>
							<div class="text">
								<a href="#">
									<p class="p-price">
										<% if((p.type!)=='1'){%>
											¥${p.minPrice1!}<span class="price-type"></span>
										<%}%>
										<% if((p.type!)=='2'){%>
											¥${p.minPrice2!}~¥${p.maxPrice2!}<span class="price-type2"></span>
										<%}%>
									</p>	
									<p class="p-name">${p.name}</p>
								</a>
							</div>
						</div>
					<%}%>
				</div>
			</div>

			<script type="text/javascript">
			$(function(){
				$('#scroll-cc').owlCarousel({
					items: 5,
					autoPlay: false,
					navigation: true,
					navigationText: ["",""],
					slideSpeed:1000,
					autoHeight:true,
					scrollPerPage: true,
					responsive:false
				});
			});
			</script>
		</div>
		<!--橱窗结束-->	
		<div class="wp mt20 goods-page clearfix" id="product_detail">
			<!-- 左侧店铺信息开始 -->
			<% include("/include/store_left.html",{'storeOne':storeOne,'sid':sid}){}%>
			<!-- 左侧店铺信息结束 -->
			<!-- 商品详情开始 -->
			<ul class="sui-nav nav-tabs goods-content-tabs w980 r" id="detail_tabs">
				<li class="active"><a href="#product_detail" hrefs="#goods-main" data-toggle="tab">商品介绍</a></li>
				<li><a href="#product_detail" hrefs="#more_param_div" data-toggle="tab">商品参数</a></li>
				<li><a href="#product_detail" hrefs="#goods-comment" data-toggle="tab">商品评价</a></li>
				<li><a href="#product_detail" hrefs="#goods-ask" data-toggle="tab">商品咨询</a></li>
			</ul>
			<div class="tab-content w980 r">
				<div class="goods-main" id="goods-main">
					<!-- 商品参数开始 -->
					<% var paramList1=product.paramList({pid:pid,limit:6});
					var paramList2=product.paramList({pid:pid});
					if(isNotEmpty(paramList2)){%>
						<ul class="table-div clearfix detail_tab" id="">
							<%if(isNotEmpty(product.brandName!)){%>
								<li class="w100"><span>品　　牌：</span>${product.brandName!} ${isNotEmpty(product.brandEnglishName!)?'('+product.brandEnglishName!+')':"" }</li>
							<%}%>
							<% for(param in product.paramList({pid:pid,limit:6})){ %>
								<li><span>${param.name!}：</span>${param.value!}</li>
							<%}%>
							<li class="w100 align-right"><a href="javascript:void(0);" class="moreParam" style="color:#005aa0;">更多参数 &gt;&gt;</a></li>
						</ul>
					<%}%>
					<%if(isNotEmpty(paramList2)){%>
						<ul class="table-div clearfix detail_tab" id="more_param_div" style="display: none;">
							<%if(isNotEmpty(product.brandName!)){%>
								<li class="w100"><span>品　　牌：</span>${product.brandName!} ${isNotEmpty(product.brandEnglishName!)?'('+product.brandEnglishName!+')':"" }</li>
							<%}%>
							<% for(param in product.paramList({pid:pid})){ %>
								<li><span>${param.name!}：</span>${param.value!}</li>
							<%}%>
						</ul>
					<%}%>
					<!-- 商品详情开始 -->
					<div class="goods-detailed detail_tab" style="">
						${product.productDetail.introduction!}
					</div>
					<!-- 商品详情结束 -->
					<!-- 商品评论开始 -->
					<div class="goods-comment detail_tab" id="goods-comment">
						<dl class="">
							<dt class="box-header noborder">
								<a href="javascript:" name="comment"></a>
								<a href="#" class="sui-brand">商品评价</a>
							 	<ul class="sui-nav nav-tabs commentTabs">
									<li class="active" grade=""><a href="javascript:" data-toggle="tab" size="">累计评价（<span class="commentCount count">0</span>）</a></li>
									<li class="" grade="1"><a href="javascript:" size="">好评（<span class="commentGrade1Count count">0</span>）</a></li>
									<li class="" grade="2"><a href="javascript:" size="">中评（<span class="commentGrade2Count count">0</span>）</a></li>
									<li class="" grade="3"><a href="javascript:" size="">差评（<span class="commentGrade3Count count">0</span>）</a></li>
							 	</ul>
							</dt>
							<dd>
							 <div class="tab-content">
								<div id="comment-1" class="tab-pane active">
									<dl class="comment-list">
									</dl>
									<!--分页开始-->
									<div class="commentPage pages" style="display: none;">
										<ul class="page-list r mr10 mt50 commentPageList">
											<input type="hidden" value="1" class="pageNo" />
											<input type="hidden" value="" class="grade" />
											<li id="fist" class="fist" pageNo="1"><a href="javascript:void(0);">首页</a></li>
											<li id="prev" class="prev" pageNo=""><a href="javascript:void(0);">上一页</a></li>
											<li id="next" class="next" pageNo=""><a href="javascript:void(0);">下一页</a></li>
											<li id="last" class="last" pageNo=""><a href="javascript:void(0);">尾页</a></li>
											<div class="clear"></div>
										</ul>
										<div class="clear"></div>
									</div>
									<!--分页结束-->
								</div>
							 </div>
							</dd>
						</dl>
					</div>
					<!-- 商品评论结束 -->
					<!-- 商品咨询开始 -->
					<div id="goods-ask" class="goods-ask askAnswer detail_tab">
						<div class="mt">
		                    <h3>商品咨询</h3>
		                </div>
		                <div class="ask-wrap">
	                        <i class="icon-dog"></i>
	                        <p>因厂家更改产品包装、产地或者更换随机附件等没有任何提前通知，且每位咨询者购买情况、提问时间等不同，为此以下回复仅对提问者3天内有效，其他网友仅供参考~若由此给您带来不便请多多谅解，谢谢~</p>
	                        <a href="#none" clstag="shangpin|keycount|product|woyaotiwen" class="J-btn-ask btn-ask">我要咨询</a>
	                    </div>
	                    <div class="goods-ask">
		                	<dl class="">
								<dt class="box-header noborder">
									<a href="#" class="sui-brand">商品咨询</a>
								 	<ul class="sui-nav nav-tabs askTabs">
										<li class="active" category=""><a href="javascript:" data-toggle="tab" size="">全部咨询（<span class="askCount count">0</span>）</a></li>
										<li class="" category="1"><a href="javascript:" size="">商品咨询（<span class="askCate1Count count">0</span>）</a></li>
										<li class="" category="2"><a href="javascript:" size="">支付问题（<span class="askCate2Count count">0</span>）</a></li>
										<li class="" category="3"><a href="javascript:" size="">发票及保修（<span class="askCate3Count count">0</span>）</a></li>
										<li class="" category="4"><a href="javascript:" size="">促销及赠品（<span class="askCate4Count count">0</span>）</a></li>
								 	</ul>
								</dt>
								<dd class="goods-ask-list">
								</dd>
							</dl>
							<!--分页开始-->
							<div class="askPage pages" style="display: none;">
								<ul class="page-list r mr10 mt50 askPageList">
									<input type="hidden" value="1" class="pageNo" />
									<input type="hidden" value="" class="category" />
									<li id="fist" class="fist" pageNo="1"><a href="javascript:void(0);">首页</a></li>
									<li id="prev" class="prev" pageNo=""><a href="javascript:void(0);">上一页</a></li>
									<li id="next" class="next" pageNo=""><a href="javascript:void(0);">下一页</a></li>
									<li id="last" class="last" pageNo=""><a href="javascript:void(0);">尾页</a></li>
									<div class="clear"></div>
								</ul>
								<div class="clear"></div>
							</div>
							<!--分页结束-->
						</div>
					</div>
					<!-- 商品咨询结束 -->
				</div>
			</div>
			<!-- 商品详情结束 -->
		</div>
		<div class="store-by">${storeOne.name!} BY SiC B2B2C Shop</div>
	<%}%>
	<!-- 咨询弹出框开始 -->
	<div id="askModal" tabindex="-1" role="dialog" data-hasfoot="false" class="hide" style="border-radius: 5px;">
		<div class="modal-body" style="padding: 0;">
			<form id="askForm" name="" action="" method="post">
				<input type="hidden" name="ordersId" value="142">
				<table class="sui-table table-bordered" id="delTable">
					<tbody>
						<tr>
							<td class="" style="text-align: right;height: 30px;">咨询类型：</td>
							<td>
								<div class="text-box">
									<label class="radio-pretty inline checked">
										<input type="radio" name="category" checked="checked" value="1"><span>商品咨询</span>
									</label>
									<label class="radio-pretty inline">
										<input type="radio" name="category" value="2"><span>支付问题</span>
									</label>
									<label class="radio-pretty inline">
										<input type="radio" name="category" value="3"><span>发票及报修</span>
									</label>
									<label class="radio-pretty inline">
										<input type="radio" name="category" value="4"><span> 促销及赠品</span>
									</label>
								</div>
							</td>
						</tr>
						<tr>
							<td class="" style="text-align: right;">咨询内容：</td>
							<td>
								<textarea rows="5" cols="55" name="content" class="content" maxlength="200" placeholder="最多可输入200个字" style="display: block;"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="span3"></div>
				<div class="modal-footer" id="delayReceiptModal-footer">
					<button type="submit" data-ok="modal" class="sui-btn btn-danger btn-large askBtn" style="margin-right: 10px;" orderId="">确定</button>
					<button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large"  onclick="(function(){layer.closeAll('page');}())">取消</button>
				</div>
			</form>
		</div>
	</div>
	<!-- 咨询收货弹出框结束 -->
	<% include("/include/footer.html"){}%>
	<% include("/include/foot.html"){}%>
	<% include("/include/tool-right.html"){}%>
	<script type="text/javascript">
		var content='${message!}';
		var type='${type!}';
		sysMessage(content,type);
	</script>
	<script type="text/template" id="area_tpl" info="地区下拉选模板">
		<li id="{{d.id}}"><a href="javascript:">{{d.name}}</a></li>
	</script>
	<script type="text/template" id="comment_tpl" info="评价模板">
		<dd>
			<div class="comment-user-info">
				<div class="comment-star star{{d.commentScore}}"></div>
				<div class="comment-date">{{d.commentDate}}</div>
				<div class="comment-avatar">
					{{d.commentLoginName}}
					<img src="//misc.360buyimg.com/lib/img/u/b62.gif" width="25" height="25" alt="">
				</div>
			</div>
			<div class="comment-con">{{d.commentContent}}</div>
			<div class="comment-pic">
				{{d.commentImg}}
			</div>
			{{d.commentExplain}}

			{{d.commentAdd}}

			<div class="comment-pic">
				{{d.commentAddImg}}
			</div>
			{{d.commentAddExplain}}
		</dd>
	</script>
	<script type="text/template" id="comment_img_tpl" info="评价图片模板">
		<a class="J-thumb-img" href="{{d.path}}" data-ind="0"><img src="{{d.path}}@!48X48" width="48" height="48" alt="j***1的晒单图片"></a>
	</script>
	<script type="text/template" id="comment_explain_tpl" info="评价解释模板">
		<div class="comment-con" style="color: #a7a4a4;">
			[解释] {{d.commentExplain}}
		</div>
	</script>
	<script type="text/template" id="comment_add_tpl" info="追加评价模板">
		<div class="comment-con comment-con-add">
			<div style="color: #999;">[{{d.commentDate}} 追加评价]</div>
			{{d.commentAddContent}}
		</div>
	</script>
	<script type="text/template" id="comment_no_tpl" info="无评价模板">
		<div class="no-comment">
			很遗憾，暂无商品评价!
		</div>
	</script>
	<script type="text/template" id="consultation_tpl" info="咨询模板">
		<div class="askAnswer-item">
			<div class="ask">                
				<i class="icon-ask">问</i>                
				<div class="item-con">
					<p>{{d.ask}}</p>
					<span>{{d.userName}}&nbsp;&nbsp;{{d.data}}</span>
				</div>           
			</div>
			<div class="answer {{d.disabled}}">                
				<i class="icon-answer">答</i>                
				<div class="item-con">                    
					<p>{{d.answer}}</p>                   
				</div>            
			</div>
		</div>
	</script>
	<script type="text/template" id="consultation_no_tpl" info="无咨询模板">
		<div class="no-consultation">
			很遗憾，暂无商品咨询!
		</div>
	</script>
</body>
</html>
