<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>采购发布完成 Powered by SiC</title>
<% include("/include/head.html"){}%>
</head>
<body>
	<% include("/include/header.html"){}%>
	<div class="wp clearfix section box-def bg-fff mt60 mb60 page-ok">
		<div class="clearfix page-ok-main">
		<div class="pic"><img src="${ctx}/views/front/english/images/001.png"></div>
		<div class="word"><h2>您的采购单已发布成功！</h2><p>稍后会将您发布的采购信息公布在爱电气网站！。</p>
		<a href="${ctxf}/index.htm" class="sui-btn btn-xlarge btn-primary">返回首页</a><a href="${ctxf}/purchase/release/form.htm" class="sui-btn btn-xlarge btn-success">继续发布采购信息</a>
		</div>
		</div>
	</div>

	<% include("/include/footer.html"){}%>
	<% include("/include/foot.html"){}%>
</body>
</html>
