<!doctype html>
<html>
<head>
<% var storeOne = store.one({sid:sid});%>
<title>${isEmpty(storeOne.seoTitle!)?(storeOne.name!):(storeOne.seoTitle!)} Powered by SiC</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Keywords" content="${storeOne.seoKeyword!}"/>
<meta name="description" content="${storeOne.seoDescribe!}"/>
<% include("/include/head.html"){}%>
<!--业务js-->
<script type="text/javascript" src="${ctx}/views/front/default/storeIndex.js"></script>
</head>
<body class="storeListBody">
	<% include("/include/header.html"){}%>
	<% if(isEmpty(storeOne)){ %>
		<div class="error_div">
			<div class="error_msg">
				<p>抱歉，店铺不存在，请查看其他的店铺！</p><br>
				<p><a href="${ctxf}/index.htm">(1) 返回首页</a></p><br>
				<p><a href="javascript:" onclick="history.go(-1);">(2) 返回上一页</a></p><br>
			</div>
		</div>
	<%}else{%>
		<% include("/include/header-store.html",{'storeOne':storeOne}){}%>
		<div class="scroll-outer">
			<div id="scroll-stone" class="owl-carousel">
				<% for(carousel in store.carouselList({sid:sid})){ %>
					<div class="item">
						<a target="_blank" href="${isNotEmpty(carousel.url)?carousel.url!:'javaScript:;'}"><img src="${ctxfs}/${carousel.picturePath}"></a>
					</div>
				<%}%>
			</div>
			<script type="text/javascript">
				$(function(){
					$('#scroll-stone').owlCarousel({
						items: 1,
						autoPlay: false,
						navigation: true,
						navigationText: ["",""],
						slideSpeed:1000,
						autoHeight:true,
						scrollPerPage: true,
						responsive:false
			
					});
				});
			</script>
		</div>
		<% if(storeOne.storeDecorate.solution=='2' || storeOne.storeDecorate.solution=='3'){%>
			<div class="wp clearfix store-index-diy">
				${storeOne.storeDecorate.content}
			</div>
		<%}%>
		<% if(storeOne.storeDecorate.solution=='1' || storeOne.storeDecorate.solution=='3'){%>
			<div class="wp clearfix mt20">
				<% include("/include/store_left.html",{'storeOne':storeOne}){}%>
				<div class="store-index-main">
					<dl>
						<dt><strong><b></b>店铺热销</strong></dt>
						<dd class="store-goods-list">
							<ul class="goods-pic-list">
								<% var productMap1=product.list({sid:sid,sort:'allSales',sortMode:'desc',limit:8});
									var productList1=productMap1["search"].items;
								%>						
								<% if(isEmpty(productList1)){%>
									<div class="noProduct">
										<i class="sui-icon icon-touch-face"></i> 很遗憾，暂无商品！
									</div>
								<%}else{%>
									<% for(product in productList1){%>
										<li>
											<div class="p-picture">
												<a target="_blank" href="${ctx}/detail/${product.pId}.htm">
													<% if(product.type!='2' && isNotEmpty(product.storeAlbumPictureList2!)){%>
														<img src="${ctxfs}${product.storeAlbumPictureList2[0].path!}@!220X220" onerror="fdp.defaultImage('/static/static/images/default_goods.png');"/>
													<%}else{%>
														<img src="${ctxfs}${product.image}@!220X220" onerror="fdp.defaultImage('/static/static/images/default_goods.png');"/>
													<%}%>
												</a>
											</div>
											<% if((product.type!)=='1' || (product.type!)=='2'){%>
												<div class="go-color">
													<% if(isNotEmpty(product.storeAlbumPictureList2!)){%>
														<% for(img in product.storeAlbumPictureList2!){%>
															<img class="${imgLP.first?'cur':''}" src="${ctxfs}${img.path!}@!220X220"/>
														<%}%>
													<%}%>
												</div>
											<%}%>
											<div class="text">
												<p class="p-price">
													<% if((product.type!)=='2'){%>
														¥${product.minPrice2!}~¥${product.maxPrice2!}<small class="p-type-1"></small>
													<%}else{%>
														¥${product.minPrice1!}<small class="p-type-2"></small>
													<%}%>
												</p>
												<a target="_blank" href="${ctx}/detail/${product.pId}.htm">
													<p class="p-name">${product.name!}</p>
												</a>
											</div>
											<div class="button"><a href="javaScript:" class="fav" pId="${product.pId}"><i class="sui-icon icon-tb-favor"></i> 加入收藏</a><a target="_blank" href="${ctxf}/detail/${product.pId!}.htm" class="buy"><i class="sui-icon icon-tb-goods"></i> 立即购买</a></div>
										</li>
									<%}%>
								<%}%>
								<div class="clear"></div>
							</ul>
						</dd>
					</dl>
					<dl class="mt20">
						<dt><strong><b></b>掌柜推荐</strong></dt>
						<dd class="store-goods-list">
							<ul class="goods-pic-list">
								<%  var productMap2 = product.list({sid:sid,isRecommend:1,limit:8});
									var productList2 = productMap2["search"].items;
								%>						
								<% if(isEmpty(productList2)){%>
									<div class="noProduct">
										<i class="sui-icon icon-touch-face"></i> 很遗憾，暂无商品！
									</div>
								<%}else{%>
									<% for(product in productList2){%>
										<li>
											<div class="p-picture">
												<a target="_blank" href="${ctx}/detail/${product.pId}.htm">
													<% if(product.type!='2' && isNotEmpty(product.storeAlbumPictureList2!)){%>
														<img src="${ctxfs}${product.storeAlbumPictureList2[0].path!}@!220X220" onerror="fdp.defaultImage('/static/static/images/default_goods.png');"/>
													<%}else{%>
														<img src="${ctxfs}${product.image}@!220X220" onerror="fdp.defaultImage('/static/static/images/default_goods.png');"/>
													<%}%>
												</a>
											</div>
											<% if((product.type!)=='1' || (product.type!)=='2'){%>
												<div class="go-color">
													<% if(isNotEmpty(product.storeAlbumPictureList2!)){%>
														<% for(img in product.storeAlbumPictureList2!){%>
															<img class="${imgLP.first?'cur':''}" src="${ctxfs}${img.path!}@!220X220"/>
														<%}%>
													<%}%>
												</div>
											<%}%>
											<div class="text">
												<p class="p-price">
													<% if((product.type!)=='2'){%>
														¥${product.minPrice2!}~¥${product.maxPrice2!}<small class="p-type-1"></small>
													<%}else{%>
														¥${product.minPrice1!}<small class="p-type-2"></small>
													<%}%>
												</p>
												<a target="_blank" href="${ctx}/detail/${product.pId}.htm">
													<p class="p-name">${product.name!}</p>
												</a>
											</div>
											<div class="button"><a href="javaScript:" class="fav" pId="${product.pId}"><i class="sui-icon icon-tb-favor"></i> 加入收藏</a><a target="_blank" href="${ctxf}/detail/${product.pId!}.htm" class="buy"><i class="sui-icon icon-tb-goods"></i> 立即购买</a></div>
										</li>
									<%}%>
								<%}%>
								<div class="clear"></div>
							</ul>
						</dd>
					</dl>
					<dl class="mt20">
						<dt><strong><b></b>新品上市</strong></dt>
						<dd class="store-goods-list">
							<ul class="goods-pic-list">
								<% var productMap3=product.list({sid:sid,limit:8});
									var productList3=productMap3["search"].items;
								%>						
								<% if(isEmpty(productList3)){%>
									<div class="noProduct">
										<i class="sui-icon icon-touch-face"></i> 很遗憾，暂无商品！
									</div>
								<%}else{%>
									<% for(product in productList3){%>
										<li>
											<div class="p-picture">
												<a target="_blank" href="${ctx}/detail/${product.pId}.htm">
													<% if(product.type!='2' && isNotEmpty(product.storeAlbumPictureList2!)){%>
														<img src="${ctxfs}${product.storeAlbumPictureList2[0].path!}@!220X220" onerror="fdp.defaultImage('/static/static/images/default_goods.png');"/>
													<%}else{%>
														<img src="${ctxfs}${product.image}@!220X220" onerror="fdp.defaultImage('/static/static/images/default_goods.png');"/>
													<%}%>
												</a>
											</div>
											<% if((product.type!)=='1' || (product.type!)=='2'){%>
												<div class="go-color">
													<% if(isNotEmpty(product.storeAlbumPictureList2!)){%>
														<% for(img in product.storeAlbumPictureList2!){%>
															<img class="${imgLP.first?'cur':''}" src="${ctxfs}${img.path!}@!220X220"/>
														<%}%>
													<%}%>
												</div>
											<%}%>
											<div class="text">
												<p class="p-price">
													<% if((product.type!)=='2'){%>
														¥${product.minPrice2!}<small class="p-type-1"></small>
													<%}else{%>
														¥${product.minPrice1!}<small class="p-type-2"></small>
													<%}%>
												</p>
												<a target="_blank" href="${ctx}/detail/${product.pId}.htm">
													<p class="p-name">${product.name!}</p>
												</a>
											</div>
											<div class="button"><a href="javaScript:" class="fav" pId="${product.pId}"><i class="sui-icon icon-tb-favor"></i> 加入收藏</a><a target="_blank" href="${ctxf}/detail/${product.pId!}.htm" class="buy"><i class="sui-icon icon-tb-goods"></i> 立即购买</a></div>
										</li>
									<%}%>
								<%}%>
								<div class="clear"></div>
							</ul>
						</dd>
					</dl>
				</div>
			</div>
			<div class="store-by">${storeOne.name!} BY SiC B2B2C Shop</div>
		<%}%>
	<%}%>
	<% include("/include/footer.html"){}%>
	<% include("/include/foot.html"){}%>
	<% include("/include/tool-right.html"){}%>
</body>
</html>
